{% extends 'Covigo/base.html' %}



{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Frequently Asked Questions</h1>
        </div>
        <div class="m-4 justify-evenly gap-4">
            <div class="m-4 p-4 bg-white shadow rounded-lg">
                <button type="button" class="collapsible">Open Collapsible</button>
                <div class="content">
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}