{% extends "Covigo/base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <style>
        table.display tbody tr:nth-child(odd):hover td,
        table.display tbody tr:nth-child(even):hover td {
            background-color: rgb(226 232 240) !important;
        }

        table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
        table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
            background-color: rgb(6 182 212) !important;
        }

        #patient_reports_modal_table.dataTable.nowrap th, table.dataTable.nowrap td {
            white-space: normal !important;
        }
    </style>
    <style>
        .dataTables_empty {
            white-space: normal !important;
        }
    </style>
{% endblock %}

{% block script %}

    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        let table = $('#doctor_patient_list').DataTable({
            "ajax": "{% url 'manager:reassign_doctor_list_table' usr.id %}",
            "type": "POST",
            language: {
                        "zeroRecords": "No existing doctors to show"
                    },
            responsive: true,
            "draggable ": false,
            stripeClasses: [],
            "orderClasses": false,
            "columns": [
                {"data": "doc_id"},
                {"data": "first_name"},
                {"data": "last_name"},
                {"data": "username"},
                {"data": "distance"},
                {"data": "patient_count"},
                {defaultContent: ""},
            ],
            "columnDefs": [
                { // doc_id
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                { // first_name
                    "targets": [1],
                    "visible": true,
                    "searchable": true,
                    "className": 'dt-body-center',
                    "render": function (data, type, row) {
                        return `<div class="whitespace-normal">${row.first_name} ${row.last_name}</div>`;
                    }
                },
                { // last_name
                    "targets": [2],
                    "visible": false,
                    "searchable": true
                },
                { // username
                    "targets": [3],
                    "visible": true,
                    "searchable": true,
                    "className": 'dt-body-center',
                    "render": function (data, type, row) {
                        return `<div class="whitespace-normal">${data}</div>`;
                    }
                },
                { // distance
                    "targets": [4],
                    "visible": true,
                    "searchable": false,
                    "className": 'dt-body-center',
                    "render": function (data, type, row) {
                        if (row.distance === null) {
                            return `<div class="whitespace-normal">N/A</div>`;
                        }
                        let dist = (row.distance/1000).toFixed(1);
                        return `<div class="whitespace-normal">${dist}</div>`;
                    }
                },
                { // patient_count
                    "targets": [5],
                    "visible": true,
                    "searchable": false,
                    "className": 'dt-body-center',
                    "render": function (data, type, row) {
                        return `<div class="whitespace-normal">${data}</div>`;
                    }
                },
                { // Action
                    "targets": [6],
                    "visible": true,
                    "searchable": false,
                    "sortable": false,
                    "className": 'dt-body-center',
                    "render": function (data, type, row) {
                        let button_reassign;
                        let old_id;

                        {% if assigned_staff %}
                            old_id = {{ assigned_staff.id }};
                        {% else %}
                            old_id = -1;
                        {% endif %}

                        if (old_id === row.doc_id) {
                            button_reassign =
                                '<a href="{% url 'manager:reassign_doctor' usr.id  %}">' +
                                '<button type="submit" name="new_doctor_id" value="-1" class="bg-red-600 hover:bg-red-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">' +
                                '<span> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"  stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12"></path></svg> </span>' +
                                '<span>Unassign</span>' +
                                '</button></a>';
                        } else {
                            button_reassign =
                                '<a href="{% url 'manager:reassign_doctor' usr.id  %}">' +
                                `<button type="submit" name="new_doctor_id" value="${row.doc_id}" class="bg-blue-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">` +
                                {% if assigned_staff %}
                                    '<span> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4"></path></svg></span>' +
                                    '<span>Reassign</span>' +
                                {% else %}
                                    '<span> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6"></path></svg></span>' +
                                    '<span>Assign</span>' +
                                {% endif %}
                                '</button></a>';
                        }

                        let button_profile =
                            '<a href="{% url 'accounts:profile' 999999999  %}">'.replace(999999999, row.doc_id) +
                            '<button type="button" class="bg-cyan-500 justify-center hover:bg-cyan-700 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">' +
                            '<span> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round"stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/></svg></span>' +
                            '<span>Profile</span>' +
                            '</button></a>';

                        return '<span class="flex justify-center gap-2">' + button_reassign + button_profile + '</span>';
                    }
                }
            ],
            "order": [[4, "asc"], [5, "asc"], [2, "asc"], [1, "asc"]]
        });
    </script>
    <script>
        Array.from(document.querySelectorAll(".alert-del")).map(x => x.addEventListener("click", function () {
                    x.parentNode.parentElement.parentElement.parentElement.classList.add('hidden')
        }));
    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Reassign Doctor for {{ usr.first_name }} {{ usr.last_name }}</h1>
        </div>

        {% if messages %}

            <script>
                setTimeout(function () {
                    $('.message').fadeOut('fast');
                }, 10000); // <-- time in milliseconds
            </script>
        {% endif %}

        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div role="alert"
                     class="message p-5 m-8 mb-0 rounded-lg border border-green-400 bg-green-300 text-green-900">
                    <div class="divide-y-2 divide-solid divide-green-400">
                        <h2 class="font-bold text-xl flex items-center pb-2">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"/>
                                </svg>
                            </span>
                            Success!
                            <div class="text-xl flex align-center w-full justify-end">
                                <strong class="alert-del cursor-pointer">
                                    &times;
                                </strong>
                            </div>
                        </h2>
                        <p class="pt-2">
                            {{ message }}
                        </p>
                    </div>
                </div>
            {% else %}
                <div role="alert" class="message p-5 m-8 rounded-lg border border-red-400 bg-red-300 text-red-900">
                    <div class="divide-y-2 divide-solid divide-red-400">
                        <h2 class="font-bold text-xl flex items-center pb-2">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                            </span>
                            Error!
                            <div class="text-xl flex align-center w-full justify-end">
                                <strong class="alert-del cursor-pointer">
                                    &times;
                                </strong>
                            </div>
                        </h2>
                        <p class="pt-2">
                            {{ message }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="p-8">
            <div class="p-4 bg-white shadow rounded-lg text-center">
                <form method="POST">
                    {% csrf_token %}
                    <table class="w-full table-auto display responsive nowrap" style="width:100%"
                           id="doctor_patient_list">
                        <thead>
                        <tr class="border-b">
                            <th class="p-2"></th>
                            <th class="p-2">Doctor Name</th>
                            <th class="p-2"></th>
                            <th class="p-2">Username</th>
                            <th class="p-2">Approx. Distance (km)</th>
                            <th class="p-2">Number of Patients</th>
                            <th class="p-2">Action</th>
                        </tr>
                        </thead>
                        <!-- Table entries is handled by the DataTable -->
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}