{% extends "Covigo/layout/guest.html" %}
{% block content %}
    <form method="post">
        <div class="min-h-full flex flex-col items-center py-16 px-4 sm:px-6 lg:px-8">
            <div class="max-w-md w-full space-y-8">
                <div>
                    <h2 class="text-center text-3xl font-extrabold text-gray-900">Forgot Password</h2>
                    <p class="mt-4 text-center text-sm text-gray-600">
                        If your email exists in our system, you will shortly receive an email containing a link to reset your password.
                        If you did not receive it, please check your junk and/or spam folders.
                    </p>
                </div>
                <div class="relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white border-2 border-green-600">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                        <svg class="h-5 w-5 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </span>
                    <label class="text-green-600 font-bold">Sent</label>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
