{% extends 'Covigo/base.html' %}
{% block styles %}
    <style>
        .loader {
            -webkit-animation: spinner 1.5s linear infinite;
            animation: spinner 1.5s linear infinite;
        }

        @-webkit-keyframes spinner {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spinner {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
{% endblock %}
{% block script %}

    <script>
        let x = document.getElementById("location-prompt");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);

            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        $(document).ready(function () {
            getLocation()
        })

        function showPosition(position) {
            get_distance(position)
        }

        function location_checking_complete() {
            $('#status-form').removeClass('hidden')
            $('#use-location-msg').addClass('rounded-b-none')
            $('.loader-container').addClass('hidden')
        }

        function get_distance(position) {
            let url = '{% url 'accounts:get_distance' user.profile.postal_code 8888 9999 %}'
            url = url.replace(8888, position.coords.latitude);
            url = url.replace(9999, position.coords.longitude);
            $.get(url, function (data, status) {
                if (data < 1000) {
                    location_checking_complete()
                    $('#compliance').removeClass('hidden')
                } else {
                    location_checking_complete()
                    $('#non-compliance').removeClass('hidden')
                }
            })
        }

        function showError(error) {
            $('#error-geoloc').removeClass('hidden')
            $('.loader-container').addClass('hidden')
            location_checking_complete()
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "Our system was unable to fetch your location. This may result in a quarantine non-compliance report. Please contact our system administrators to fix this issue."
                    break;
                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "Location information is unavailable."
                    break;
                case error.TIMEOUT:
                    x.innerHTML = "The request to get the user location timed out."
                    break;
                case error.UNKNOWN_ERROR:
                    x.innerHTML = "An unknown error occurred."
                    break;
            }
        }

        Array.from(document.querySelectorAll(".alert-del")).map(x => x.addEventListener("click", function () {
            x.parentNode.parentElement.parentElement.parentElement.classList.add('hidden')
        }));
    </script>
{% endblock %}
{% block content %}
    <form method="POST" class="min-h-full bg-slate-100 flex flex-col">

        {% csrf_token %}
        <div class="bg-slate-700 border-b">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Create Status Report</h1>
        </div>
        <div class="flex flex-col justify-between gap-8 grow p-8">
            <div>
                <div class="w-full flex justify-between p-4 bg-white shadow rounded-lg text-center md:text-left" id="use-location-msg">
                    We use your location to ensure compliance with quarantine-related rules imposed by your local health
                    authority.
                    We will not store your current location information; we will only report compliance or non-compliance.
                </div>
                <div class="w-full bg-red-100 shadow rounded-b-lg p-4 text-base text-red-700 inline-flex items-center hidden"
                     role="alert" id="error-geoloc">
                    <span class="w-6 h-6 sm:w-4 sm:h-4">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle"
                             class="w-6 h-6 sm:w-4 sm:h-4 fill-current" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512">
                            <path fill="currentColor"
                                  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path>
                        </svg>
                    </span>
                    <span id="location-prompt" class="grow"></span>
                </div>

                <div class="w-full bg-red-100 shadow rounded-b-lg p-4 text-base text-red-700 inline-flex items-center hidden"
                     role="alert" id="non-compliance">
                    <span class="w-6 h-6 sm:w-4 sm:h-4">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle"
                             class="w-6 h-6 sm:w-4 sm:h-4 fill-current" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512">
                            <path fill="currentColor"
                                  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path>
                        </svg>
                    </span>
                    <span>
                        Our system detected that your location is not as declared.
                        This may be an error; the health authorities will be able to further investigate this with you.
                    </span>
                </div>

                <div class="w-full bg-green-100 shadow rounded-b-lg p-4 text-base text-green-700 flex gap-2 items-center hidden"
                     role="alert" id="compliance">
                    <span class="w-6 h-6 sm:w-4 sm:h-4">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle"
                             class="w-6 h-6 sm:w-4 sm:h-4 fill-current" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512">
                            <path fill="currentColor"
                                  d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path>
                        </svg>
                    </span>
                    <span class="grow">Our system detected that you are complying with quarantine rules.</span>
                </div>
            </div>

            <div class="grow loader-container flex items-center justify-center">
                <div class="flex flex-col justify-center items-center gap-4">
                    <div id="spinner" class="flex w-full h-full items-center justify-center">
                        <span class="border-slate-200 border-t-blue-400 loader ease-linear rounded-full border-8 border-t-8 h-48 w-48"></span>
                    </div>
                    <div class="text-xl">Fetching your current location</div>
                </div>

            </div>

            {% if messages %}
                <script>
                    setTimeout(function () {
                        $('.message').fadeOut('fast');
                    }, 10000); // <-- time in milliseconds
                </script>
            {% endif %}

            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div role="alert"
                         class="message p-5 rounded-lg border border-red-400 bg-red-300 text-red-900">
                        <div class="divide-y-2 divide-solid divide-red-400">
                            <h2 class="font-bold text-xl flex items-center pb-2">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                            </span>
                                Error!
                                <div class="text-xl flex align-center w-full justify-end">
                                    <strong class="alert-del cursor-pointer">
                                        &times;
                                    </strong>
                                </div>
                            </h2>
                            <p class="pt-2">
                                {{ message }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="flex flex-col justify-between grow p-4 min-h-full bg-white shadow rounded-lg hidden"
                 id="status-form">

                <div class="w-full flex flex-col gap-8 mb-8">
                    <span>
                        <h2 class="p-2 text-2xl font-bold">Assigned Symptoms</h2>
                        <hr>
                    </span>

                    {% for r in report %}
                        <div class="mt-1 mx-2">
                            <label> {{ r.symptom.name }}:</label>
                            <input type="hidden" name="data[id][]" value="{{ r.id }}">
                            <br>
                            <input type=text name=data[data][]
                                   class="h-8 px-2 bg-slate-100 rounded-md border border-slate-400 border p-1">
                            <br>
                            <label class="text-sm">Symptom Description: {{ r.symptom.description }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="w-full mt-8 md:mt-0">
                    <div class="text-center flex flex-wrap justify-center sm:justify-end gap-2">
                        <a href="{% url "status:index" %}">
                            <button type="button"
                                    class="bg-red-600 hover:bg-red-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                    </svg>
                                </span>
                                <span>Cancel</span>
                            </button>
                        </a>
                        <button type="submit"
                                class="bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                            </span>
                            <span>Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}