{% extends 'Covigo/base.html' %}

{% block content %}
    <form method="POST" class="min-h-full bg-slate-100 flex flex-col">
        {% csrf_token %}
        <div class="bg-slate-700 border-b">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Create Status Report</h1>
        </div>

        <div class="flex flex-col justify-between grow m-8 p-4 min-h-full bg-white shadow rounded-lg">
            {% for r in report %}
                <label> r.symptom.name </label>
                <input type=text name=data>
            {% endfor %}
            <div class="w-full mt-8 md:mt-0">
                <div class="text-center flex flex-wrap justify-center sm:justify-end gap-2">
                    <a href="{% url "status:index" %}">
                        <button type="button"
                                class="bg-red-600 hover:bg-red-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </span>
                            <span>Cancel</span>
                        </button>
                    </a>
                    <button type="submit"
                            class="bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </span>
                        <span>Create</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}