{% extends "Covigo/base.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
{% endblock %}

{% block script %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script>
    $(document).on('click', '.report-modal-link', function (e) {
                let row = $(this).closest('tr');
                let date_updated = row.attr('data-date-updated');
                let user_id = row.attr('data-user-id');

                console.log(date_updated);
                let url = "{% url 'status:patient-report-modal' 999999999 'date_updated' %}";
                url = url.replace(999999999, user_id);
                url = url.replace('date_updated', date_updated);

                e.preventDefault();
                this.blur();
                $.ajax({
                    method: 'POST',
                    url: url,
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                    },
                    dataType: 'html',
                    success: function (html) {

                        $('#modal-div').html(html).modal('show');

                        //Re-laod table to update that it has been read

                    }
                });
            });
            const endOfTheDay = new Date();
            const now = new Date();
            endOfTheDay.setHours(23,59,59,999)
            const eventTime = endOfTheDay.getTime();
            const currentTime = now.getTime();
            const diffTime = eventTime - currentTime;
            let duration = moment.duration(diffTime);
            const interval = 1000;
            const countdown = document.querySelector('#countdown')

            setInterval(() => {
              duration = moment.duration(duration - interval);
              if(duration == 1){
                  location.reload()
              }
              countdown.innerText = duration.hours() + ":" + duration.minutes() + ":" + duration.seconds()
            }, interval);

            countdown.innerText = duration.hours() + ":" + duration.minutes() + ":" + duration.seconds()

    </script>

{% endblock %}

{% block content %}


    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Health Status</h1>
        </div>

        <div class="bg-white shadow m-8 rounded-xl">
            <div class="w-full flex justify-between items-center p-4">
                <div>
                    <a href="">
                        <button class="bg-green-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                       <span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"
                              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"/>
                        </svg>
                        </span>
                            <span>Submit a new report</span>
                        </button>
                    </a>
                </div>
                {% if report_exist %}
                    <div class="text-red-600 font-bold">
                        You should Submit your report with all requested data today by 11:59:59, remaining time: <span id="countdown"></span>
                    </div>
                {% else %}
                    <div class="text-green-600 font-bold">
                        You are all set, your doctor will contact you if necessary.
                    </div>
                {% endif %}
                <div>
                    <a href="">
                        <button class="bg-blue-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                       <span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"
                              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"/>
                        </svg>
                        </span>
                            <span>Message My Doctor</span>
                        </button>
                    </a>
                </div>

            </div>
        </div>

        <div class="flex">
            <div class="w-1/6 m-4">
                <div class="m-4 p-4 bg-white shadow rounded-lg">
                    <table class="w-full">
                        <tr>
                            <th class="border-b text-left p-1">Symptoms to report</th>
                        </tr>
                       {% for s in symptoms %}
                            <tr class="border-b ">
                            <td class="p-1">{{ s.symptom__name }}</td>
                             </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="m-4 w-5/6">
                <div class="m-4 p-4 bg-white shadow rounded-lg">
                    <table class="w-full table-auto" id="message_list_table">
                        <thead>
                            <tr class="border-b">
                                <th class="p-2">Date Submitted</th>
                                <th class="p-2">Viewed By Doctor</th>
                                <th class="p-2">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for r in reports %}
                                <tr class="hover:bg-gray-200" data-user-id = "{{ r.user_id }}" data-date-updated = "{{ r.date_updated__date|date:'Y-m-d' }}">
                                    <td class="text-center p-2 render-correct-date">{{ r.date_updated__date|date:'Y-m-d' }}</td>
                                    <td class="text-center p-2">{{ r.is_viewed }}</td>
                                    <td class="text-center p-2"><button class="report-modal-link bg-blue-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md">View Report</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
         <div id="modal-div" class="modal" style="max-width:1000px;padding: 0 0">
        </div>
    </div>
{% endblock %}