{% extends "Covigo/base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#patient_reports_table').DataTable({
                "bSort": false
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Patient Reports</h1>
        </div>

        <div class="bg-white shadow m-8 rounded-xl">
            <div class="w-full flex justify-between items-center p-4">
                <div>
                    <span class="font-semibold px-2">Filter By Date:</span>
                </div>
            </div>
        </div>

        <div class="m-4">
            <div class="m-4 p-4 bg-white shadow rounded-lg text-center">
                <table class="w-full table-auto" id="patient_reports_table">
                    <thead>
                    <tr class="border-b">
                        <th class="p-2">Patient Name</th>
                        <th class="p-2">Date</th>
                        <th class="p-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reports in patient_reports %}
                        {% if reports.is_viewed == True %}
                            <tr class="hover:bg-slate-200 border-b" data-read="read">
                                {% else %}
                            <tr class="hover:bg-slate-200 font-semibold border-b" data-read="unread">
                        {% endif %}
                    <td class="p-2">{{ reports.user__first_name }} {{ reports.user__last_name }}</td>
                    <td class="p-2">{{ reports.date_updated }}</td>
                    <td class="flex justify-middle gap-2">
                        {# this is a temprory button, we will move it user profile once user profile is done :) #}
                        <a href="">
                            <button class="bg-cyan-500 hover:bg-cyan-700 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                 viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                            </svg>
                                        </span>
                                <span>View Report</span>
                            </button>
                        </a>
                    </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}