{% extends "Covigo/base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <style>
        table.display tbody tr:nth-child(odd):hover td,
        table.display tbody tr:nth-child(even):hover td {
            background-color: rgb(226 232 240) !important;
        }

        table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
        table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
            background-color: rgb(6 182 212) !important;
        }

        #patient_reports_modal_table.dataTable.nowrap th, table.dataTable.nowrap td {
            white-space: normal !important;
        }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script>
        $(document).ready(function () {
            let table = $('#patient_reports_table').DataTable({
                "ajax": "{% url 'status:patient_reports_table' %}",
                createdRow: function (row, data, index) {
                    $(row).attr('data-read', data.is_viewed)
                    if (data.is_viewed === false) {
                        $(row).addClass('font-semibold border-b')
                    } else {
                        $(row).addClass('border-b')
                    }
                },
                language : {
                    "zeroRecords": "No submitted patient reports at this time"
                },
                responsive: true,
                "draggable ": false,
                stripeClasses: [],
                "orderClasses": false,
                "columns": [
                    {"data": "user__patients_assigned_flags__is_active"},
                    {"data": "user__first_name"},
                    {"data": "user_id"},
                    {"data": "is_viewed"},
                    {"data": "date_updated__date"},
                    {"data": "user__last_name"},
                    {
                        defaultContent: '<button class="bg-cyan-500 hover:bg-cyan-700 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1 report-modal-link">' +
                            '<span> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round"stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/></svg>' +
                            '</span><span>View Report</span></button>'
                    },
                ],
                "columnDefs": [
                    { // user__patients_assigned_flags__is_active
                        "targets": [0],
                        "visible": false,
                        "searchable": false,
                         "render": function (data, type, row) {
                             let is_active = row.user__patients_assigned_flags__is_active;
                             if (typeof is_active != "boolean") {
                                 return false;
                             }
                             return is_active;
                        }
                    },
                    { // user__first_name
                        "targets": [1],
                        "visible": true,
                        "searchable": true,
                        "render": function (data, type, row) {
                            return row.user__first_name + ' ' + row.user__last_name;
                        }
                    },
                    { // user_id
                        "targets": [2],
                        "visible": false,
                        "searchable": false
                    },
                    { // is_viewed
                        "targets": [3],
                        "visible": false,
                        "searchable": false
                    },
                    { // date_updated__date
                        "targets": [4],
                        "visible": true,
                        "searchable": true
                    },
                    { // user__last_name
                        "targets": [5],
                        "visible": false,
                        "searchable": false
                    },
                    { // user__last_name
                        "targets": [6],
                        "visible": true,
                        "searchable": false,
                        "bSortable": false,
                    },
                ],
                "order": [[3, "asc"], [0, "desc"], [4, "desc"]]
            });
            $('#toggleRead').change(function () {
                $.fn.dataTable.ext.search.pop();
                let value = $(this).val();
                if (value == "showAll") {
                    $.fn.dataTable.ext.search.pop();
                    table.draw();
                } else {
                    $.fn.dataTable.ext.search.push(
                        function (settings, data, dataIndex) {
                            return $(table.row(dataIndex).node()).attr('data-read') === value;
                        }
                    );
                    table.draw();
                }
            });
            $(document).on('click', '.report-modal-link', function (e) {
                let user_id, table_date;
                try {
                    // Get row data from non-responsive UI
                    let row = $(this).closest('tr');
                    let data = table.row(row).data();
                    user_id = data.user_id;
                    table_date = data.date_updated__date;
                } catch (err) {
                    // Get row data from responsive UI
                    let data = table.row(this).data();
                    user_id = data.user_id;
                    table_date = data.date_updated__date;
                }
                let url = "{% url 'status:patient_report_modal' 999999999 'date_updated' %}";
                url = url.replace(999999999, user_id);
                url = url.replace('date_updated', table_date);

                e.preventDefault();
                this.blur();
                $.ajax({
                    method: 'POST',
                    url: url,
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                    },
                    dataType: 'html',
                    success: function (html) {

                        $('#modal-div').html(html).modal('show');

                        //Reload table to update that it has been read
                        table.ajax.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Patient Reports</h1>
        </div>

        <div class="bg-white shadow m-8 rounded-xl">
            <div class="w-full flex justify-between items-center p-4">
                <div>
                    <span class="font-semibold px-2">Filters:</span>
                    <select name="" id="toggleRead"
                            class="bg-slate-300 border border-slate-300 py-1 text-sm text-black px-2 rounded-md cursor-pointer">
                        <option value="showAll">Show All Patient Reports</option>
                        <option value="false">Show Unread Patient Reports</option>
                        <option value="true">Show Read Patient Reports</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="m-4">
            <div class="m-4 p-4 bg-white shadow rounded-lg text-center">
                <table class="w-full table-auto display responsive nowrap" style="width:100%"
                       id="patient_reports_table">
                    <thead>
                    <tr class="border-b">
                        <th class="p-2">user__patients_assigned_flags__is_active</th>
                        <th class="p-2">Patient Name</th>
                        <th class="p-2">user_id</th>
                        <th class="p-2">is_viewed</th>
                        <th class="p-2">Date</th>
                        <th class="p-2">user__last_name</th>
                        <th class="p-2"></th>
                    </tr>
                    </thead>
                    <!-- Table entries is handled by the DataTable -->
                </table>
            </div>
        </div>
        <div id="modal-div" class="modal" style="max-width:1000px;padding: 0 0">
        </div>
    </div>
{% endblock %}