{% load static %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#patient_reports_modal_table').DataTable({
                "ajax": "{% url 'status:patient_report_modal_table' user_id date %}",
                "searching": false,
                responsive: true,
                "draggable ": false,
                stripeClasses: [],
                "orderClasses": false,
                "columns": [
                    {"data": "symptom__name"},
                    {
                        "data": "data",
                        "render": function (data, type, full, meta) {
                            let status = full.status
                            if (status == -2) {
                                return "";
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        "data": "date_updated",
                        "render": function (data, type, full, meta) {
                            let date = full.date_updated;
                            let newDate = new Date(date);
                            let month = (newDate.getMonth() + 1);
                            if (month < 9) {
                                month = "0" + month;
                            }
                            let suffix = newDate.getHours() >= 12 ? "PM" : "AM";
                            return newDate.getFullYear() + "-" + month + "-" + newDate.getDate() + "<br/>" + newDate.getHours() + ":" + ('0' + newDate.getMinutes()).slice(-2) + ":" + ('0' + newDate.getSeconds()).slice(-2) + " " + suffix;
                        }
                    },
                    {
                        "data": "id",
                        "render": function (data, type, full, meta) {
                            let is_staff = {{ is_staff|lower }};
                            let due_date = new Date(full.due_date)
                            let today_date = new Date()
                            let status = full.status
                            if (today_date.setHours(0, 0, 0, 0) === due_date.setHours(0, 0, 0, 0)) {
                                if (is_staff) {
                                    if ((status == 0 || status == 3)) {
                                        let patient_symptom_id = full.id
                                        let url = '{% url "status:resubmit_request" 999999 %}'
                                        url = url.replace(999999, patient_symptom_id);
                                        return '<span class="flex justify-center">' +
                                            '<a class="resubmit-url" href="' + url + '">' +
                                            '<button class="bg-blue-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">' +
                                            '<span> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round"stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/></svg>' +
                                            '</span><span>Resubmit</span></button>' +
                                            '</a></span>'
                                    } else if (status == -1) {
                                        return '<span class="flex justify-center">' +
                                            '<span class="bg-gray-600 text-white px-2 py-1 rounded-md flex items-center justify-center gap-1">' +
                                            'Invalidated by doctor</span></span>'
                                    } else if (status == -2) {
                                        return '<span class="flex justify-center">' +
                                            '<span class="bg-gray-600 text-white px-2 py-1 rounded-md flex items-center justify-center gap-1">' +
                                            'Awaiting Resubmission</span></span>'
                                    } else if (status == -3) {
                                        return '<span class="flex justify-center">' +
                                            '<span class="bg-gray-600 text-white px-2 py-1 rounded-md flex items-center justify-center gap-1">' +
                                            'Invalidated by patient</span></span>'
                                    } else {
                                        return '<span class="flex justify-center">' +
                                            '<span class="bg-gray-600 text-white px-2 py-1 rounded-md flex items-center justify-center gap-1">' +
                                            'Invalidated data</span></span>'
                                    }
                                } if (status == -2) {
                                        return '<span class="flex justify-center">' +
                                            '<span class="bg-gray-600 text-white px-2 py-1 rounded-md flex items-center justify-center gap-1">' +
                                            'Awaiting Resubmission</span></span>'
                                } else {
                                    return '<span class="flex justify-center">' +
                                            '<a class="resubmit-url" href="{% url "status:edit_status_report" %}">' +
                                            '<button class="bg-blue-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">' +
                                            '<span> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round"stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/></svg>' +
                                            '</span><span>Resubmit</span></button>' +
                                            '</a></span>'
                                }
                            } else {
                                if (status == -1) {
                                    return '<span class="flex justify-center">' +
                                        '<span class="bg-gray-600 text-white px-2 py-1 rounded-md flex items-center justify-center gap-1">' +
                                        'Invalidated by doctor</span></span>'
                                } else if (status == -2) {
                                    return '<span class="flex justify-center">' +
                                        '<span class="bg-gray-600 text-white px-2 py-1 rounded-md flex items-center justify-center gap-1">' +
                                        'Awaiting Resubmission</span></span>'
                                } else if (status == -3) {
                                    return '<span class="flex justify-center">' +
                                        '<span class="bg-gray-600 text-white px-2 py-1 rounded-md flex items-center justify-center gap-1">' +
                                        'Invalidated by patient</span></span>'
                                } else {
                                    return '<span class="flex justify-center">' +
                                        '<span class="bg-gray-600 text-white px-2 py-1 rounded-md flex items-center justify-center gap-1">' +
                                        'Old data</span></span>'
                                }
                            }
                        },
                    }
                ],
                "columnDefs": [
                    { // symptom__name
                        "targets": [0],
                        "visible": true,
                        "searchable": false
                    },
                    { // data
                        "targets": [1],
                        "visible": true,
                        "searchable": false
                    }
                ],
            });

            jQuery('#flag-button').on('click', function (e) {
                e.preventDefault();
                jQuery.ajax({
                    method: 'POST',
                    url: jQuery(this).attr('data-url'),
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                    },
                    dataType: 'html',
                    success: function (html) {
                        // Set the flag button text and data-url to the appropriate ones
                        let is_flagged = JSON.parse(html).is_flagged;
                        jQuery('#is-flagged-button-text').text(is_flagged === "True" ? "Unflag Patient" : "Flag Patient");
                        let b = document.getElementById("flag-button");
                        if (is_flagged === "True") {
                            b.setAttribute("data-url", "{% url 'accounts:unflag_user' user_id %}");
                        } else {
                            b.setAttribute("data-url", "{% url 'accounts:flag_user' user_id %}");
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 id="patient-name" class="text-2xl text-white font-semibold px-8 py-4">Patient: {{ patient_name }} </h1>
        </div>

        <div class="p-8 flex flex-col gap-8">
            <div class="bg-white shadow p-4 rounded-xl">
                <div class="w-full flex flex-wrap justify-center md:justify-between items-center gap-2">
                    <div>
                        <span class="font-bold">Date:</span> {{ date }}
                    </div>
                    <div class="flex flex-wrap justify-center md:justify-between items-center gap-2">
                        {% if is_staff %}
                            {% if perms.accounts.flag_assigned or perms.accounts.flag_patients %}
                                <a id="flag-button" data-url="
                                {% if is_flagged %}
                                    {% url 'accounts:unflag_user' user_id %}
                                {% else %}
                                    {% url 'accounts:flag_user' user_id %}
                                {% endif %}">
                                    <button class="bg-blue-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                             stroke="currentColor"
                                             stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9"/>
                                            </svg>
                                        </span>
                                        <span id="is-flagged-button-text">{% if is_flagged %}Unflag Patient{% else %}Flag
                                            Patient{% endif %}
                                        </span>
                                    </button>
                                </a>
                            {% endif %}

                            {% if perms.accounts.message_assigned or perms.accounts.message_patient or perms.accounts.message_user %}
                                <a href="{% url 'messaging:compose_message' user_id %}">
                                    <button class="bg-blue-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                 viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      stroke-width="2"
                                                      d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span>Send Message</span>
                                    </button>
                                </a>
                            {% endif %}

                            <a href="{% url 'accounts:profile' user_id %}">
                                <button class="bg-cyan-500 hover:bg-cyan-700 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                                                 fill="none"
                                                 viewBox="0 0 24 24" stroke="currentColor">
                                              <path stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2"
                                                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                                            </svg>
                                        </span>
                                    <span>Profile</span>
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="p-4 bg-white shadow rounded-lg text-center">
                <table class="w-full table-auto display responsive nowrap" style="width:100%"
                       id="patient_reports_modal_table">
                    <thead>
                    <tr class="border-b">
                        <th class="p-2">Symptom Name</th>
                        <th class="p-2">Data</th>
                        <th class="p-2">Date Updated</th>
                        <th class="p-2" data-orderable="false"></th>
                    </tr>
                    </thead>
                    <!-- Table entries is handled by the DataTable -->
                </table>
            </div>
        </div>
    </div>
{% endblock %}