{% load static %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#patient_reports_modal_table').DataTable({
                "ajax": "{% url 'status:patient-report-modal-table' user_id date %}",
                "searching": false,
                responsive: true,
                "draggable ": false,
                stripeClasses: [],
                "orderClasses": false,
                "columns": [
                    {"data": "symptom__name"},
                    {"data": "data"},
                    {
                        "data": "date_updated",
                        "render": function (data, type, full, meta) {
                            return full.date_updated;
                        }
                    },
                    {
                        "data": "id",
                        "render": function (data, type, full, meta) {
                            let is_staff = {{ is_staff|lower }};
                            if (is_staff) {
                                let patient_symptom_id = full.id
                                let url = '{% url 'status:resubmit-request' 999999 %}'
                                url = url.replace(999999, patient_symptom_id);
                                return '<a class="resubmit-url" href="' + url + '">' +
                                    '<button class="bg-cyan-500 hover:bg-cyan-700 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">' +
                                    '<span> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round"stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/></svg>' +
                                    '</span><span>Resubmit</span></button>' +
                                    '</a>'
                            } else {
                                return '<a href="{% url "status:edit-status-report" %}">' +
                                    '<button class="bg-cyan-500 hover:bg-cyan-700 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">' +
                                    '<span> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round"stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/></svg>' +
                                    '</span><span>Resubmit</span></button>' +
                                    '</a>'
                            }
                        },
                    }
                ],
                "columnDefs": [
                    { // symptom__name
                        "targets": [0],
                        "visible": true,
                        "searchable": false
                    },
                    { // data
                        "targets": [1],
                        "visible": true,
                        "searchable": false
                    }
                ],
            });

            jQuery('#flag-button').on('click', function (e) {
                e.preventDefault();
                jQuery.ajax({
                    method: 'POST',
                    url: jQuery(this).attr('data-url'),
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                    },
                    dataType: 'html',
                    success: function (html) {
                        // Set the flag button text and data-url to the appropriate ones
                        let is_flagged = JSON.parse(html).is_flagged;
                        jQuery('#is-flagged-button-text').text(is_flagged === "True" ? "Unflag Patient" : "Flag Patient");
                        let b = document.getElementById("flag-button");
                        if (is_flagged === "True") {
                            b.setAttribute("data-url", "{% url 'accounts:unflag_user' user_id %}");
                        } else {
                            b.setAttribute("data-url", "{% url 'accounts:flag_user' user_id %}");
                        }
                    }
                });
            });
        });

    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 id="patient-name" class="text-2xl text-white font-semibold px-8 py-4">Patient: {{ patient_name }} </h1>
        </div>

        <div class="bg-white shadow m-8 rounded-xl">
            <div class="w-full flex justify-between flex-col md:flex-row p-4">
                <div><span>Date: {{ date }}</span></div>
                {% if is_staff %}
                    <div class="flex gap-2">
                        <a id="flag-button" data-url="
                        {% if is_flagged %}
                            {% url 'accounts:unflag_user' user_id %}
                        {% else %}
                            {% url 'accounts:flag_user' user_id %}
                        {% endif %}
                    ">
                            <button class="bg-green-600 hover:bg-green-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     stroke-width="2">
                                  <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9"/>
                                </svg>
                            </span>
                                <span id="is-flagged-button-text">{% if is_flagged %}Unflag Patient{% else %}Flag
                                    Patient{% endif %}</span>
                            </button>
                        </a>
                        <a href="{% url 'messaging:compose_message' user_id %}">
                            <button class="bg-green-600 hover:bg-green-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"/>
                                </svg>
                            </span>
                                <span>Send Message</span>
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="m-4">
            <div class="m-4 p-4 bg-white shadow rounded-lg text-center">
                <table class="w-full table-auto display responsive nowrap" style="width:100%"
                       id="patient_reports_modal_table">
                    <thead>
                    <tr class="border-b">
                        <th class="p-2">Symptom Name</th>
                        <th class="p-2 wrap">Data</th>
                        <th class="p-2">Date Updated</th>
                        <th class="p-2"></th>
                    </tr>
                    </thead>
                    <!-- Table entries is handled by the DataTable -->
                </table>
            </div>
        </div>
    </div>
{% endblock %}