<div class="w-full">
    <div class="block m-4 p-4 rounded bg-slate-200 text-slate-800 text-center">
        <h3 class="text-lg font-semibold">February 30th, 4:20 PM.</h3>
        <hr class="my-2 border-slate-400">
        <div class="block mx-4 px-4 my-2 py-2 rounded bg-gray-300 text-left text-md">
            <h3 class="font-semibold">Body temperature</h3>
            <p>69 degrees</p>
        </div>
        <div class="block mx-4 px-4 my-2 py-2 rounded bg-gray-300 text-left text-md">
            <h3 class="font-semibold">Presence/Severity of coughs</h3>
            <p>Occasional coughing</p>
        </div>
        <div class="block mx-4 px-4 my-2 py-2 rounded bg-gray-300 text-left text-md">
            <h3 class="font-semibold">Presence/Severity of sore throat</h3>
            <p>Very sore throat</p>
        </div>
        <div class="block mx-4 px-4 my-2 py-2 rounded bg-gray-300 text-left text-md">
            <h3 class="font-semibold">Presence/Intensity of stomach pain</h3>
            <p>No stomach pain</p>
        </div>
        <div class="block mx-4 px-4 my-2 py-2 rounded bg-gray-300 text-left text-md">
            <h3 class="font-semibold">Presence/Intensity of nausea</h3>
            <p>Severe nausea</p>
        </div>
        <div class="block mx-4 px-4 my-2 py-2 rounded bg-gray-300 text-left text-md">
            <h3 class="font-semibold">Frequency of vomiting (if any)</h3>
            <p>Frequent vomiting (every 2-3 hours)</p>
        </div>
        <div class="block mx-4 px-4 my-2 py-2 rounded bg-gray-300 text-left text-md">
            <h3 class="font-semibold">Presence of diarrhea</h3>
            <p>No diarrhea</p>
        </div>
        <div class="block mx-4 px-4 my-2 py-2 rounded bg-gray-300 text-left text-md">
            <h3 class="font-semibold">Presence/Severity of runny nose or nasal congestion</h3>
            <p>Severe nasal congestion</p>
        </div>
    </div>
</div>