{% extends "Covigo/base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <style>
        table.display tbody tr:nth-child(odd):hover td,
        table.display tbody tr:nth-child(even):hover td {
            background-color: rgb(226 232 240) !important;
        }

        table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
        table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
            background-color: rgb(6 182 212) !important;
        }

        #patient_reports_modal_table.dataTable.nowrap th, table.dataTable.nowrap td {
            white-space: normal !important;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

    <script>
        $(document).ready(function () {
            let table = $('#group_list').DataTable({
                "ajax": "{% url 'accounts:list_groups_table' %}",
                "type": "POST",
                responsive: true,
                "draggable ": false,
                stripeClasses: [],
                "orderClasses": false,
                "columns": [
                    {"data": "id"},
                    {"data": "name"},
                    {"data": "type"},
                    {defaultContent: ""},
                ],
                "columnDefs": [
                    { // id
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    { // name
                        "targets": [1],
                        "visible": true,
                        "searchable": true,
                        "className": 'dt-body-center'
                    },
                    { // type
                        "targets": [2],
                        "visible": true,
                        "searchable": false,
                        "className": 'dt-body-center'
                    },
                    { // Action
                        "targets": [3],
                        "visible": true,
                        "searchable": false,
                        "sortable": false,
                        "className": 'dt-body-center',
                        "render": function (data, type, row) {
                            return '<span class="flex justify-end">' +
                            '<a href="{% url 'accounts:edit_group' 999999999 %}">'.replace(999999999, row.id) +
                            '<button class="bg-blue-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">' +
                            '<span> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path> </svg> </span>' +
                            '<span>Edit</span>' +
                            '</button></a>'
                        }
                    }
                ],

                "order": [[2, "asc"], [1, "asc"]],

                initComplete: function () {
                    this.api().columns(2).every(function () {
                        let column = this;
                        let select = $('<select class="cursor-pointer bg-slate-300 border border-slate-300 py-1 text-sm text-black px-2 rounded-md"><option value="">Show All Groups</option></select>')
                            .appendTo($('#group-filter'))
                            .on('change', function () {
                                let val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            let userStr = ' users';
                            if (d == "Any") {
                                userStr = ' user';
                            }
                            select.append('<option value="' + d + '">Valid for ' + d + userStr + '</option>');
                        });
                    })
                }
            });
        });

    </script>
    <script>
        Array.from(document.querySelectorAll(".alert-del")).map(x => x.addEventListener("click", function() {
            x.parentNode.parentElement.parentElement.parentElement.classList.add('hidden')
        }));
    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Groups</h1>
        </div>

        <div class="bg-white shadow m-8 rounded-xl">
            <div class="w-full flex justify-between items-center p-4">
                {# hidden until fixed #}
                <div id="group-filter">
                    {# TODO: Filters should go HERE #}
                    <span class="font-semibold px-2">Filter Groups:</span>
                </div>
                <div class="flex gap-2">
                    <a href="{% url 'accounts:create_group' %}">
                        <button class="bg-green-600 hover:bg-green-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                            </span>
                            <span>New Group</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>

        {% if messages %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script>
                setTimeout(function() {
                    $('.message').fadeOut('fast');
                    }, 10000); // <-- time in milliseconds
            </script>
        {% endif %}

        {% for message in messages %}
            {% if message.tags == 'success'%}
                <div role="alert" class="message p-5 rounded-lg border m-8 border-green-400 bg-green-300 text-green-900">
                    <div class="divide-y-2 divide-solid divide-green-400">
                        <h2 class="font-bold text-xl flex items-center pb-2">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                                </svg>
                            </span>
                            Success!
                            <div class="text-xl flex align-center w-full justify-end">
                                <strong class="alert-del cursor-pointer">
                                    &times;
                                </strong>
                            </div>
                        </h2>
                        <p class="pt-2">
                            {{ message }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="p-8 pt-0">
            <div class="p-4 bg-white shadow rounded-lg text-center">
                <table class="w-full table-auto display responsive nowrap" style="width:100%" id="group_list">
                    <thead>
                        <tr class="border-b">
                            <th class="p-2"></th>
                            <th class="p-2">Group Name</th>
                            <th class="p-2">Valid for</th>
                            <th class="p-2"></th>
                        </tr>
                    </thead>
                    <!-- Table entries is handled by the DataTable -->
                </table>
            </div>
        </div>
    </div>
{% endblock %}