{% extends 'Covigo/base.html' %}

{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script>
    $('.time-formset').formset({
                deleteCssClass: 'bg-red-600 ',
        addText: 'Insert break',
        deleteText: 'Remove',
        addCssClass: 'bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md',
    });
</script>
{% endblock %}

{% block content %}
    <div class="bg-slate-700 border-b">
        <h1 class="text-2xl text-white font-semibold px-8 py-4">Add Availabilities</h1>
    </div>
    <form method="post" class="min-h-full bg-slate-100 flex flex-col">
        {% csrf_token %}
        <div class="flex flex-col justify-between grow m-8 p-4 min-h-full bg-white shadow rounded-lg">
            <div class="w-full flex flex-col gap-8 mb-8">
                <div class="w-full">
                    <h2 class="p-2 text-2xl font-bold">
                        Availability details
                    </h2>
                    <hr>

                    <div class="w-full max-w-2xl px-2 py-2">
                        <label>Select days to create availabilities for</label>
                        <div class="mt-1">
                            {{ availability_form.availability_days }}
                        </div>
                    </div>

                    <div class="w-full px-2 py-2 inline-flex">
                        <label>Slot Duration</label>
                        <div class="mt-1 pl-5 pr-5">
                            {{ availability_form.slot_duration_hours }}
                            hours
                        </div>
                        <div class="mt-1">
                            {{ availability_form.slot_duration_minutes }}
                            minutes
                        </div>
                    </div>

                    {{ time_formset.management_form }}

                    {% for time_form in time_formset %}
                        <div class="time-formset">
                        <div class="w-full px-2 py-2 inline-flex">
                            <label>Start time</label>
                             {{ time_form.start_time_hour }}:
                        {{ time_form.start_time_minute }}
                        </div>

                                                <div class="w-full px-2 py-2 inline-flex">
                            <label>End time</label>
                             {{ time_form.end_time_hour }}:
                        {{ time_form.end_time_minute }}
                        </div>


                    </div>
                    {% endfor %}

                    <div class="w-full px-2 py-2 inline-flex">
                        <label>Maintain this schedule until</label>
                        <div class="mt-1 pl-5 pr-5">
                            {{ availability_form.date_until }}
                        </div>
                    </div>

                    <button type="submit" class="bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                        <span>Submit</span>
                    </button>
                </div>
            </div>
        </div>
    </form>



{% endblock %}