{% extends 'Covigo/base.html' %}

{% block styles %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
{% endblock %}

{% block script %}
    {% load static %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="{% static 'js/availability.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="bg-slate-700 border-b">
        <h1 class="text-2xl text-white font-semibold px-8 py-4">Add Availabilities</h1>
    </div>
    <form method="post" class="min-h-full bg-slate-100 flex flex-col availability-form">
        {% csrf_token %}
        <div class="flex flex-col justify-between grow m-8 p-4 min-h-full bg-white shadow rounded-lg">
            <div class="w-full flex flex-col gap-8 mb-8">
                <div class="w-full">
                    <h2 class="p-2 text-2xl font-bold">
                        Availability details
                    </h2>
                    <hr>

                    <div class="w-full px-2 pt-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Start date:</label>
                        <div class="text-red-500 text-sm font-semibold inline">
                            {{ availability_form.start_date.errors }}
                        </div>
                        <div class="inline mt-1 pr-5">
                            {{ availability_form.start_date }}
                        </div>
                    </div>

                    <div class="w-full px-2 pt-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">End date:</label>

                        <div class="inline mt-1 pr-5">
                            {{ availability_form.end_date }}
                        </div>
                    </div>

                    <div class="w-full max-w-2xl px-2 py-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Select days to create availabilities
                            for:</label>
                        <div class="text-red-500 text-sm font-semibold inline">
                            {{ availability_form.availability_days.errors }}
                        </div>
                        <div class="mt-1">
                            {{ availability_form.availability_days }}
                        </div>
                    </div>

                    <div class="w-full px-2 pt-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2 label-start">Start time:</label>
                        <div class="text-red-500 text-sm font-semibold inline hidden" id="time-error">Invalid time
                            range
                        </div>
                        <div class=" mt-1 pr-5">
                            <input id="start_time" class="timepicker_1" name="start_time" required>
                        </div>
                    </div>

                    <div class="w-full px-2 pt-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">End time:</label>
                        <div class="inline mt-1 pr-5">
                            <input id="end_time" class="timepicker_2" name="end_time" required>
                        </div>
                    </div>

                    <div class="w-full px-2 py-2">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Slot duration:</label>
                        <div class="text-red-500 text-sm font-semibold hidden" id="slot-error">
                            Invalid time slot
                        </div>
                        <div class="inline mt-1 pr-5">
                            {{ availability_form.slot_duration_hours }}
                            hours
                            {{ availability_form.slot_duration_minutes }}
                            minutes
                        </div>
                    </div>

                    <div class="w-full mt-8 md:mt-0">
                        <div class="text-center flex flex-wrap justify-center sm:justify-end gap-2">
                            <a href="{% url "appointments:index" %}">
                                <button type="button"
                                        class="bg-red-600 hover:bg-red-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </span>
                                    <span>Cancel</span>
                                </button>
                            </a>
                            <button type="submit"
                                    class="bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </span>
                                <span>Create</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>



{% endblock %}