{% extends "Covigo/base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css">
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
    <script>
        let minDate;
        let maxDate;

        $(document).ready(function () {
            minDate = new DateTime($('#min'), {
                format: 'MMMM Do YYYY'
            });

            maxDate = new DateTime($('#max'), {
                format: 'MMMM Do YYYY'
            });

            let table = $('#availabilities_list_table').DataTable();

            $('#min, #max').on('change', function () {
                table.draw();
            });

            let selected_weekdays = [];

            $('.weekday-filter').click(function () {
                let weekday = $(this).val();

                if ($(this).attr('data-selected') !== 'true') {
                    $(this).addClass('bg-blue-600');
                    $(this).attr('data-selected', true);
                    selected_weekdays.push(weekday);
                }

                else {
                    $(this).removeClass('bg-blue-600');
                    $(this).removeAttr('data-selected');
                    selected_weekdays = selected_weekdays.filter(function (value, index, arr) {
                        return value !== weekday;
                    })
                }

                let query = selected_weekdays.join('|');
                filterByWeekday(table, query);
            })
        });

        function filterByWeekday(table, weekdays) {
            if (weekdays !== '') {
                table.column(4).search('^' + weekdays + '$', true, false).draw();
            }

            else {
                table.column(4).search("").draw();
            }
        }

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                let min = minDate.val();
                let max = maxDate.val();
                let date = new Date(data[1]);

                if (
                    (min === null && max === null) ||
                    (min === null && date <= max) ||
                    (min <= date && max === null) ||
                    (min <= date && date <= max)
                ) {
                    return true;
                }

                return false;
            }
        );

        $('#checkbox').on('click', function() {
                if($(this).is(':checked',true))
                {
                    $("#checkbox").is('checked', true);
                }
                else
                {
                    $("#checkbox").prop('checked',false);
                }
            }
        );

        let alert_del = document.querySelectorAll('.alert-del');
        alert_del.forEach(
            (x) => x.addEventListener(
                'click',
                function(){
                    x.parentElement.parentElement.parentElement.parentElement.classList.add('hidden')
                }
            )
        );
    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Available Appointments with Dr. {{ staff_name }}</h1>
        </div>
        <div class="bg-white shadow m-8 rounded-xl">
            <div class="w-full flex justify-between items-center p-4">
                <div class="flex">
                    <span>
                        Select one or any:
                    </span>
                    <button class="weekday-filter bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none border-r border-white" value="Sunday">
                        Sunday
                    </button>
                    <button class="weekday-filter bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" value="Monday">
                        Monday
                    </button>
                    <button class="weekday-filter bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" value="Tuesday">
                        Tuesday
                    </button>
                    <button class="weekday-filter bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" value="Wednesday">
                        Wednesday
                    </button>
                    <button class="weekday-filter bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" value="Thursday">
                        Thursday
                    </button>
                    <button class="weekday-filter bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" value="Friday">
                        Friday
                    </button>
                    <button class="weekday-filter bg-gray-600 text-white px-2 py-1 rounded-md rounded-l-none" value="Saturday">
                        Saturday
                    </button>
                </div>
                <div>
                    filter with date: from:
                    <input type="text" class="py-1 px-1 border border-black rounded-md text-black" id="min">
                    to:
                    <input type="text" class="py-1 px-1 border border-black rounded-md text-black" id="max">
                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="m-4 p-4 rounded-lg">
                {% for message in messages %}
                    {% if message.tags == 'success'%}
                        <div role="alert" class="p-5 rounded-lg border border-green-400 bg-green-300 text-green-900">
                            <div class="divide-y-2 divide-solid divide-green-400">
                                <h2 class="font-bold text-xl flex items-center pb-2">
                                        <span class="mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                                            </svg>
                                        </span>
                                    Success!
                                    <div class="text-xl flex align-center w-full justify-end">
                                        <strong class="alert-del cursor-pointer">
                                            &times;
                                        </strong>
                                    </div>
                                </h2>
                                <p class="pt-2">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="m-4">
                <div class="m-4 p-4 bg-white shadow rounded-lg">

                    <table class="w-full table-auto text-center" id="availabilities_list_table">
                        <thead>
                        <tr class="border-b">
                            <th class="p-2">
                                <input type="checkbox">
                            </th>
                            <th class="p-2">
                                Date
                            </th>
                            <th class="p-2">
                                Start Time
                            </th>
                            <th class="p-2">
                                End Time
                            </th>
                            <th class="p-2">
                                Weekday
                            </th>

                            <th class="p-2">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment in appointments %}
                            <tr class="text-center">
                                <td>
                                    <input type="checkbox" name="booking_ids[]" value="{{ appointment.id }}">
                                </td>
                                <td>
                                    {{ appointment.start_date.date }}
                                </td>
                                <td>
                                    {{ appointment.start_date.time }}
                                </td>
                                <td>
                                    {{ appointment.end_date.time }}
                                </td>
                                <td class="p-2 render-correct-date">
                                    {{ appointment.start_date|date:'l' }}
                                </td>
                                <td class="p-2 flex flex-wrap justify-center sm:justify-end gap-2">
                                    <button type="submit" value="{{ appointment.id }}" class="bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1" name="Book Appointment">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                            </svg>
                                        </span>
                                        Book Appointment
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="w-full mt-8 md:mt-0 md:-mx-4">
                    <div class="text-center flex flex-wrap justify-center sm:justify-end gap-2">
                        <a href="{% url "appointments:index" %}">
                            <button type="button" class="bg-red-600 hover:bg-red-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                    </svg>
                                </span>
                                <span>
                                    Cancel
                                </span>
                            </button>
                        </a>
                        <button type="submit" value="Book Selected Appointments" class="bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1" name="Book Selected Appointments">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                            </span>
                            <span>
                                Book Selected Appointments
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}