{% extends "Covigo/base.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css">

    <style>
        .loader {
            -webkit-animation: spinner 1.5s linear infinite;
            animation: spinner 1.5s linear infinite;
        }

        @-webkit-keyframes spinner {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spinner {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .fc-toolbar {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;
        }

        @media (min-width: 1024px) {
            .fc-toolbar {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        .fc-event-time {
            display: flex;
            justify-items: center;
            align-items: center;
            white-space: normal !important;
        }

        @media (min-width: 480px) {
            .fc-event-time {
                display: flex;
                align-items: center;
            }
        }

        @media (min-width: 1360px) {
            .fc-event-time {
                white-space: nowrap !important;
            }
        }

        .fc-daygrid-more-link {
            top: 2px;
            color: #2563EB;
            font-weight: 600;
            white-space: nowrap;
        }

        .fc-daygrid-day {
            height: 6rem;
        }

        .min-calendar-height {
            min-height: 50rem;
        }

        .fc-event-time, .fc-timegrid-slot-label-frame, .fc-col-header-cell-cushion {
            font-size: 0.6rem;
        }

        @media (min-width: 480px) {
            .fc-event-time, .fc-timegrid-slot-label-frame, .fc-col-header-cell-cushion {
                font-size: 0.75rem;
            }
        }

        @media (min-width: 640px) {
            .fc-event-time, .fc-timegrid-slot-label-frame, .fc-col-header-cell-cushion {
                font-size: 0.875rem;
            }
        }

        @media (min-width: 768px) {
            .fc-event-time, .fc-timegrid-slot-label-frame, .fc-col-header-cell-cushion {
                font-size: 1rem;
            }
        }
    </style>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('fullcalendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'dayGridMonth,timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'prevYear,prev,next,nextYear'
                },
                moreLinkContent: function(args){
                    return screen.width >= 640 ? `+${args.num} more` : `(+${args.num})`;
                },
                allDaySlot: false,
                views: {
                    week: {
                        displayEventEnd: screen.width >= 1024,
                    },
                },
                events: [
                    {% for e in patient_booked_appointments %}
                        { // this object will be "parsed" into an Event Object
                            start: '{{ e.start_date|date:'Y-m-d H:i:s' }}', // a property!
                            end: '{{ e.end_date|date:'Y-m-d H:i:s' }}', // a property! ** see important note below about 'end' **,display: 'block',
                            backgroundColor: '#3b83f6',
                            display: 'block'
                        },
                    {% endfor %}
                    {% for key, value in doctor_booked_appointments_patient_name_dict.items %}
                        { // this object will be "parsed" into an Event Object
                            start: '{{ key.start_date|date:'Y-m-d H:i:s' }}', // a property!
                            end: '{{ key.end_date|date:'Y-m-d H:i:s' }}', // a property! ** see important note below about 'end' **,display: 'block',
                            backgroundColor: '#3b83f6',
                            display: 'block'
                        },
                    {% endfor %}
                ],
                dayMaxEvents: true
            });
            calendar.render();
        });

        let isProcessing;
        async function checkIsProcessing() {
            let result;
            await $.ajax({
                type: "GET",
                url: "{% url "appointments:session_is_locked" %}",
                success: function(data) {
                    result = (data == "True");
                }
            });
            return result;
        }

        async function setUp() {
            isProcessing = await checkIsProcessing();
            let processingMessage = $('#processing-message');
            let actionButtons = $('.action-button');
            let upcomingAppointments = $('#upcoming-appointments');

            if (isProcessing) {
                processingMessage.removeClass("hidden");
                actionButtons.addClass("hidden");
                upcomingAppointments.empty().append("<li>Waiting on request to complete...</li>");

                window.setInterval(async function() {
                    isProcessing = await checkIsProcessing();

                    if (!isProcessing) {
                        window.location.reload();
                    }
                }, 2000);
            } else {
                actionButtons.removeClass("hidden");
            }
        }
        setUp();

        $('#fullcalendar div').addClass('flex flex-wrap')

    </script>
    <script>
        Array.from(document.querySelectorAll(".alert-del")).map(x => x.addEventListener("click", function() {
            x.parentNode.parentElement.parentElement.parentElement.classList.add('hidden')
        }));
    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Appointments</h1>
        </div>

        <div class="flex flex-col m-8">
            <div class="bg-white shadow rounded-xl">
                <div class="w-full flex flex-wrap justify-center md:justify-between items-center gap-2 p-4">
                    <div class="flex gap-2 items-center text-sm">
                        <span class="flex items-center gap-2 hidden" id="processing-message">
                            {% if user.is_staff %}
                                Your request to cancel appointments or delete availabilities is still being processed...
                            {% else %}
                                Your request to book or cancel appointments is still being processed...
                            {% endif %}
                            <span class="border-slate-200 border-t-blue-400 loader ease-linear rounded-full border-4 border-t-4 h-6 w-6"></span>
                        </span>
                        {# only display the "Book an appointment" and "Cancel an appointment" buttons to patient as staff can't book appointments #}
                        {% if not is_staff %}
                            <div class="action-button hidden">
                                <a href="{% url 'appointments:book_appointments' %}">
                                    <button type="button"
                                            class="bg-blue-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                 viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                            </svg>
                                        </span>
                                        <span>Book an appointment</span>
                                    </button>
                                </a>
                            </div>
                            {% if perms.accounts.cancel_appointment %}
                                <div class="action-button hidden">
                                    <a href="{%  url 'appointments:cancel_appointments_or_delete_availabilities' %}">
                                        <button type="button"
                                                class="bg-red-600 hover:bg-red-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                                 stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                            </svg>
                                        </span>
                                            <span>Cancel an appointment</span>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if perms.accounts.cancel_appointment or perms.accounts.remove_availability %}
                                <div class="action-button hidden">
                                    <a href="{%  url 'appointments:cancel_appointments_or_delete_availabilities' %}">
                                        <button type="button"
                                                class="bg-red-600 hover:bg-red-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                                     stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                                </svg>
                                            </span>
                                            <span class="hidden lg:inline-block">Cancel appointments/Delete availabilities</span>
                                            <span class="lg:hidden">Cancel appt./Delete avail.</span>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>


                    <div class="flex flex-wrap justify-center md:justify-start gap-2">
                        {# only display the "Add availabilities" button to staff #}
                        {% if is_staff %}
                            <div>
                                <a href="{% url 'appointments:add_availabilities' %}">
                                    <button type="button"
                                            class="bg-green-600 hover:bg-green-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                                 stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                            </svg>
                                        </span>
                                        <span>Add availabilities</span>
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if messages %}

                <script>
                    setTimeout(function() {
                        $('.message').fadeOut('fast');
                        }, 10000); // <-- time in milliseconds
                </script>
            {% endif %}

            {% for message in messages %}
                {% if message.tags == 'success'%}
                    <div class="w-full mt-8">
                        <div role="alert" class="message p-5 rounded-lg border border-green-400 bg-green-300 text-green-900">
                            <div class="divide-y-2 divide-solid divide-green-400">
                                <h2 class="font-bold text-xl flex items-center pb-2">
                                    <span class="mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                                        </svg>
                                    </span>
                                    Success!
                                    <div class="text-xl flex align-center w-full justify-end">
                                        <strong class="alert-del cursor-pointer">
                                            &times;
                                        </strong>
                                    </div>
                                </h2>
                                <p class="pt-2">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% elif message.tags == 'warning' %}
                    <div class="w-full mt-8">
                        <div role="alert" class="message p-5 rounded-lg border border-yellow-400 bg-yellow-300 text-yellow-900">
                            <div class="divide-y-2 divide-solid divide-yellow-400">
                                <h2 class="font-bold text-xl flex items-center pb-2">
                                    <span class="mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                             stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                        </svg>
                                    </span>
                                    Warning!
                                    <div class="text-xl flex align-center w-full justify-end">
                                        <strong class="alert-del cursor-pointer">
                                            &times;
                                        </strong>
                                    </div>
                                </h2>
                                <p class="pt-2">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="w-full mt-8">
                        <div role="alert" class="message p-5 rounded-lg border border-red-400 bg-red-300 text-red-900">
                            <div class="divide-y-2 divide-solid divide-red-400">
                                <h2 class="font-bold text-xl flex items-center pb-2">
                                    <span class="mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </span>
                                    Error!
                                    <div class="text-xl flex align-center w-full justify-end">
                                        <strong class="alert-del cursor-pointer">
                                            &times;
                                        </strong>
                                    </div>
                                </h2>
                                <p class="pt-2">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}

            <div class="flex flex-wrap gap-8 xl:gap-0 xl:flex-nowrap mt-8 mb-8 md:mb-0">

                <div class="grow rounded rounded-lg bg-white shadow sm:px-4 py-4 w-full xl:w-2/3">
                    <div id="fullcalendar" class="px-2 sm:px-4 py-4 min-calendar-height"></div>
                </div>

                <div class="grow xl:grow-0 xl:p-0 xl:pl-4 flex flex-col gap-4 items-center grow">
                    <div class="grow block p-8 rounded rounded-lg bg-white shadow text-center text-lg font-semibold">
                        <h3>Upcoming Appointments</h3>
                        <hr class="my-2 border-slate-400">
                        <div class="text-left text-lg font-normal xl:w-96">
                            <ul class="px-1 list-disc" id="upcoming-appointments">
                                {% if not is_staff %}
                                    {% for appointment in patient_booked_appointments %}
                                        <li>
                                            {{ appointment.start_date }}
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    {% for key, value in doctor_booked_appointments_patient_name_dict.items %}
                                        <li>
                                            {{ key.start_date }} with {{ value }}
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% if not patient_booked_appointments and not doctor_booked_appointments_patient_name_dict.items %}
                                <li>No upcoming appointments.</li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}