{% extends "Covigo/base.html" %}
{% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css">

{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script>
        let alert_del = document.querySelectorAll('.alert-del');
        alert_del.forEach(
            (x) => x.addEventListener(
                'click',
                function () {
                    x.parentElement.parentElement.parentElement.parentElement.classList.add('hidden')
                }
            )
        );

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('fullcalendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'dayGridMonth,timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'prevYear,prev,next,nextYear'
                },
                events: [
                    {% for e in booked_appointments %}
                        { // this object will be "parsed" into an Event Object
                            start: '{{ e.start_date|date:'Y-m-d H:i:s' }}', // a property!
                            end: '{{ e.end_date|date:'Y-m-d H:i:s' }}', // a property! ** see important note below about 'end' **,display: 'block',
                            backgroundColor: '#3b83f6',
                            display: 'block'
                        },
                    {% endfor %}
                ],
                dayMaxEvents: true
            });
            calendar.render();
        });

    </script>
{% endblock %}

{% block content %}
    <div class="md:-mx-4">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div role="alert" class="p-5 rounded-lg border m-8 border-green-400 bg-green-300 text-green-900">
                    <div class="divide-y-2 divide-solid divide-green-400">
                        <h2 class="font-bold text-xl flex items-center pb-2">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"/>
                                </svg>
                            </span>
                            Success!
                            <div class="text-xl flex align-center w-full justify-end">
                                <strong class="alert-del cursor-pointer">
                                    &times;
                                </strong>
                            </div>
                        </h2>
                        <p class="pt-2">
                            {{ message }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="min-h-full bg-slate-100">
        <div class="flex flex-wrap xl:flex-nowrap">
            <div class="grow flex-col xl:flex-row xl:w-1/3">

                <!-- only display the add availabilities button to staff -->
                {% if is_staff %}
                    <div class="m-4">
                        <a href="{% url 'appointments:add_availabilities' %}">
                            <button class="w-full px-4 py-2 rounded border bg-blue-600 border-blue-900 hover:bg-blue-700 hover:border-blue-700 text-center text-white text-2xl font-bold">
                                <h2>Add availabilities</h2>
                            </button>
                        </a>
                    </div>
                {% endif %}

                <!-- only display the book appointments button to patient as staff can't book appointments -->
                {% if not is_staff %}
                    <div class="m-4">
                        <a href="{% url 'appointments:book_appointments' %}">
                            <button class="w-full px-4 py-2 rounded border bg-blue-600 border-blue-900 hover:bg-blue-700 hover:border-blue-700 text-center text-white text-2xl font-bold">
                                <h2>Book an appointment</h2>
                            </button>
                        </a>
                    </div>
                {% endif %}
                <div class="m-4">
                    <a href="{% url 'appointments:cancel_or_delete_appointments_or_availabilities' %}">
                        <button class="w-full px-4 py-2 rounded border bg-blue-600 border-blue-900 hover:bg-blue-700 hover:border-blue-700 text-center text-white text-2xl font-bold">
                            <h2>Cancel an appointment</h2>
                        </button>
                    </a>
                </div>
                <hr class="mx-4 border-slate-400">
                <div class="block m-4 p-4 rounded bg-slate-200 text-slate-800 text-center text-lg font-semibold">
                    <h3>Upcoming Appointments</h3>
                    <hr class="my-2 border-slate-400">
                    <div class="text-left text-lg font-normal xl:w-96">
                        <ul class="px-1 list-disc">
                            {% if not is_staff %}
                                {% for appointment in patient_booked_appointments %}
                                    <li>
                                        {{ appointment.start_date }}
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for key, value in doctor_booked_appointments_patient_name_dict.items %}
                                    <li>
                                        {{ key.start_date }} with {{ value }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grow min-h-full w-full xl:w-2/3">
                <div id="fullcalendar" class="p-4"></div>
            </div>
        </div>
    </div>
{% endblock %}