{% extends "Covigo/base.html" %}
{% load static %}

{% block styles %}
    <link href="{% static 'accounts/css/dual-listbox.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="min-h-full bg-slate-100">
{#    {{  permissions }}#}
        <h1 class="text-5xl p-4">Add a group</h1>
        <div class="flex ">
            <div class="w-3/4">
                <div class="w-full bg-gray-50 p-4 m-4 rounded-2xl">
                <label for="">Group Name:</label>
                <input type="text" class="bg-neutral-300 py-2 text-black  px-2 rounded-xl">
            </div>
            <div class="w-full bg-gray-50 p-4 m-4 rounded-2xl">
                <p class="text-lg">Add Permissions</p>
                <hr>
                <div class="mt-4">
                    <select class=" multiselect" multiple>
                        {% for permission in permissions %}
                            <option value="{{ permission.codename }}">{{ permission.content_type }} | {{ permission.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="px-4 py-2 rounded border bg-blue-600 border-blue-900 hover:bg-blue-700 hover:border-blue-700 text-center text-white mt-4" value="submit">
            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'accounts/js/dual-listbox.js' %}"></script>
    <script>
    demo = new DualListbox('.multiselect');
    </script>
{% endblock %}