{% extends "Covigo/base.html" %}
{% load static %}

{% block styles %}
    <link href="{% static 'accounts/css/dual-listbox.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="min-h-full bg-slate-100">
        {#    {{  permissions }}#}
        <div class="flex justify-between bg-slate-700">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Create Role</h1>
        </div>
        <form action="" method="post">

            <div class="bg-white m-8 rounded-xl">
                <div class="w-full flex justify-between items-center p-4">
                    <div>
                        <label class="font-semibold px-2">Group Name:</label>
                        <input type="text" class="h-8 px-2 bg-slate-100 rounded-md border border-slate-400" name="name">
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-between grow m-8 p-4 min-h-full bg-white rounded-lg">
                <div>
                    <h2 class="p-2 font-bold">Select Permissions</h2>
                    <hr>
                    <div class="p-2 mt-4">
                        <select class=" multiselect" multiple name="perms">
                            {% for permission in permissions %}
                                <option value="{{ permission.codename }}">{{ permission.content_type }}
                                    | {{ permission.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w-full p-2 mt-8 md:mt-0">
                        <div class="text-center flex flex-wrap justify-center sm:justify-end gap-2">
                            <button type="submit"
                                    class="bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1 flex items-center gap-1">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                    </svg>
                                </span>
                                <span>Create</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'accounts/js/dual-listbox.js' %}"></script>
    <script>
        demo = new DualListbox('.multiselect');
    </script>
{% endblock %}