{% extends "dashboard/card-base.html" %}
{% load tailwind_tags %}
{% load static %}

{% block card %}
    <div class="flex items-center justify-center w-full h-full rounded border bg-green-100 border-green-200 hover:bg-green-200">
        <div class="px-4 py-2">
            <h1 class="font-bold text-2xl text-center">New Recoveries Today (QC)</h1>
            <hr class="border-slate-400 my-2">
            <dix class="flex items-center justify-center">
                <img src="{% static 'dashboard/green-arrow-down.png' %}" alt="Green down arrow"/>
                <div class="font-bold text-5xl text-center text-green-600 mb-14">3,838</div>
            </dix>
        </div>
    </div>
{% endblock %}