{% extends "dashboard/card-base.html" %}
{% load static %}

{% block card %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const daily_recoveries_data = {
            labels: {{ daily_recoveries.dates|safe }},
            datasets: [{
                label: 'Change',
                backgroundColor: 'rgb(74, 222, 128)',
                borderColor: 'rgb(74, 222, 128)',
                data: {{ daily_recoveries.numbers|safe }},
            }]
        };

        const daily_recoveries_config = {
            type: 'line',
            data: daily_recoveries_data,
            options: {
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        };
    </script>

    <div class="flex items-center justify-center w-full h-full rounded-md shadow bg-green-100 group-hover:bg-green-200">
        <div class="px-4 py-2">
            <h2 class="font-bold text-xl text-center">Recoveries (Daily Change)</h2>
            <h3 class="font-light text-sm text-center text-gray-600">(Relative to previous day, since {{ daily_recoveries.dates.0 }})</h3>
            <hr class="border-slate-400 my-2">
            <dix class="flex items-center justify-center">
                {#<img src="{% static 'dashboard/qcrecoveriesog.png' %}" alt="Hospitalizations"/>#}
                <div>
                    <canvas id="daily_recoveries" class="rounded shadow bg-white group-hover:bg-slate-50" width="300" height="200"></canvas>
                </div>
            </dix>
        </div>
    </div>

    <script>
        const daily_recoveries = new Chart(
            document.getElementById('daily_recoveries'),
            daily_recoveries_config
        );
    </script>
{% endblock %}