{% extends "dashboard/card-base.html" %}
{% load tailwind_tags %}
{% load static %}

{% block card %}
    <div class="flex items-center justify-center w-full h-full rounded border bg-orange-100 border-orange-200 hover:bg-orange-200">
        <div class="px-4 py-2">
            <div>
                <h1 class="font-bold text-2xl text-center">Hospitalizations (QC)</h1>
                <h2 class="font-light italic text-md text-center">(1 month view)</h2>
                <hr class="border-slate-400 my-2">
                <img src="{% static 'dashboard/hospitalizations.png' %}" alt="Hospitalizations"/>
            </div>
        </div>
    </div>
{% endblock %}