{% extends "dashboard/card-base.html" %}
{% load static %}

{% block card %}
    <div class="flex items-center justify-center w-full h-full rounded-lg border bg-purple-100 hover:bg-purple-200">
        <div>
            <h1 class="font-bold text-2xl text-center">Upcoming Appointments</h1>
            <hr class="border-slate-400 my-2">
            <ul class="list-disc">
                <li>Light Yagami</li>
                <li>L Lawliet</li>
                <li>Shinya Kogami</li>
                <li>Jojo Reference</li>
                <li>Yuzuru Otonashi</li>
            </ul>
        </div>
    </div>
{% endblock %}