{% extends "dashboard/card-base.html" %}

{% block card %}
    <div class="flex items-center justify-center w-full h-full rounded border bg-slate-200 border-slate-300 hover:bg-slate-300 text-slate-800">
        <div>
            <h1 class="font-bold text-2xl text-center">Contact info</h1>
            <hr class="border-slate-400 my-2">
            <ul class="list-disc">
                <li>John Doe</li>
                <li>johndoe@gmail.com</li>
                <li>(514) 420-1337</li>
                <li>123 Sesame Street</li>
                <li>A1B 2C3</li>
            </ul>
        </div>
    </div>
{% endblock %}