{% extends "Covigo/base.html" %}

{% block content %}
    <form method="post" class="min-h-full bg-slate-100 flex flex-col">
        {% csrf_token %}
        <div class="bg-slate-700 border-b">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Create Account</h1>
        </div>

        <div class="flex flex-col justify-between grow m-8 p-4 min-h-full bg-white rounded-lg">
            <div class="w-full flex flex-col gap-8 mb-8">
                <div class="w-full">
                    <h2 class="p-2 text-2xl font-bold">Account Information</h2>
                    <hr>
                    <div class="px-2 absolute text-red-500 text-sm font-semibold">
                        {{ user_form.non_field_errors }}
                        {{ profile_form.non_field_errors }}
                    </div>
                </div>

                <div class="w-full max-w-2xl px-2">
                    <label class="mb-1">Email:</label>
                    {{ user_form.email }}
                    <div class="text-red-500 text-sm font-semibold">
                        <div class="absolute">
                            {{ user_form.email.errors }}
                        </div>
                    </div>
                </div>

                <div class="w-full max-w-2xl px-2">
                    <label class="mb-1">Phone Number:</label>
                    {{ profile_form.phone_number }}
                    <div class="text-red-500 text-sm font-semibold">
                        <div class="absolute">
                            {{ profile_form.phone_number.errors }}
                        </div>
                    </div>
                </div>

                <div class="w-full max-w-2xl px-2">
                    <label>User Type:</label>
                    <div class="mt-1">
                        {{ user_form.is_staff }}
                    </div>
                    <div class="text-red-500 text-sm font-semibold">
                        <div class="absolute">
                            {{ user_form.is_staff.errors }}
                        </div>
                    </div>
                </div>

                <div class="w-full max-w-2xl px-2">
                    <label class="mb-1">Role:</label>
                    <div class="w-full bg-slate-100 rounded-md border border-slate-400">
                        {{ user_form.groups }}
                    </div>
                    <div class="text-red-500 text-sm font-semibold">
                        <div class="absolute">
                            {{ user_form.groups.errors }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full mt-8 md:mt-0">
                <div class="text-center flex flex-wrap justify-center sm:justify-end gap-2">
                    <a href="{% url "accounts:list_users" %}">
                        <button type="button" class="bg-red-600 hover:bg-red-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </span>
                            <span>Cancel</span>
                        </button>
                    </a>
                    <button type="submit"
                            class="bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </span>
                        <span>Create</span>
                    </button>
                    {# TODO: Implement Create and return #}
                    <button type="submit"
                            class="bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </span>
                        <span>Create and Return</span>
                    </button>
                </div>
            </div>
        </div>


    </form>
{% endblock %} 