{% extends "Covigo/base.html" %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="m-4 justify-evenly gap-4">
{#            TODO: fetch other user attributes (first name, etc) #}
            {% for staff in staffs %}
                <h2>username: {{ staff.user.username }}</h2>
                <h2>email: {{ staff.user.email }}</h2>
                <h2>phone: {{ staff.user.profile.phone_number }}</h2>
                <h2>address: {{ staff.user.profile.address }}</h2>
                <h2>postal code: {{ staff.user.profile.postal_code }}</h2>
                <h2>assigned patients (display name if user is staff):</h2>
                    <ul class="list-disc">
                        {% for patient in staff.patients.all %}
                            <li><h3>{{ patient.user.username }}</h3></li>
                        {% endfor %}
                    </ul>
                <br/>
            {% endfor %}
            {% for patient in patients %}
                <h2>username: {{ patient.user.username }}</h2>
                <h2>email: {{ patient.user.email }}</h2>
                <h2>phone: {{ patient.user.profile.phone_number }}</h2>
                <h2>address: {{ patient.user.profile.address }}</h2>
                <h2>postal code: {{ patient.user.profile.postal_code }}</h2>
                <h2>assigned staff: {{ patient.staff.user }}</h2>
                <h2>is_confirmed: {{ patient.is_confirmed }}</h2>
                <h2>is_recovered: {{ patient.is_recovered }}</h2>
                <h2>is_quarantining: {{ patient.is_quarantining }}</h2>
                <h2>code: {{ patient.code }}</h2>
                <br/>
            {% endfor %}
        </div>
    </div>
{% endblock %}