{% extends "Covigo/base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#user_list_table').DataTable({
                initComplete: function () {
                    this.api().columns(3).every(function () {
                        let column = this;
                        let select = $('<select class="border-2 cursor-pointer"><option value="">Filter ...</option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                let val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    })
                }
            });
        });
    </script>
    <script>
        Array.from(document.querySelectorAll(".alert-del")).map(x => x.addEventListener("click", function() {
            x.parentNode.parentElement.parentElement.parentElement.classList.add('hidden')
        }
        )
        );
    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Accounts</h1>
        </div>

        <div class="bg-white shadow m-8 rounded-xl">
            <div class="w-full flex justify-between items-center p-4">
                <div>
                    {# TODO: Filters should go HERE #}
                    <span class="font-semibold px-2">Filters:</span>
                    <select name="" id="toggleRead"
                            class="cursor-pointer bg-slate-300 border border-slate-300 py-1 text-sm text-black px-2 rounded-md">
                        <option value="showAll">Show All Groups</option>
                    </select>
                </div>
                <div class="flex gap-2">
                    {% if perms.accounts.manage_groups %}
                        <a href="{% url 'accounts:list_groups' %}">
                            <button class="bg-green-600 hover:bg-green-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                                    </svg>
                                </span>
                                <span>List/Edit Groups</span>
                            </button>
                        </a>
                    {% endif %}
                    {% if perms.accounts.create_patient or perms.accounts.create_user %}
                        <a href="{% url 'accounts:create_user' %}">
                            <button class="bg-green-600 hover:bg-green-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                                    </svg>
                                </span>
                                <span>New Account</span>
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if messages %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script>
                setTimeout(function() {
                    $('.message').fadeOut('fast');
                    }, 10000); // <-- time in milliseconds
            </script>
        {% endif %}

        {% for message in messages %}
            {% if message.tags == 'success'%}
                <div role="alert" class="message p-5 m-8 rounded-lg border m-8 border-green-400 bg-green-300 text-green-900">
                    <div class="divide-y-2 divide-solid divide-green-400">
                        <h2 class="font-bold text-xl flex items-center pb-2">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                                </svg>
                            </span>
                            Success!
                            <div class="text-xl flex align-center w-full justify-end">
                                <strong class="alert-del cursor-pointer">
                                    &times;
                                </strong>
                            </div>
                        </h2>
                        <p class="pt-2">
                            {{ message }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="m-4 justify-evenly gap-4">
            <div class="m-4 p-4 bg-white shadow rounded-lg">
                <table class="w-full table-auto text-center" id="user_list_table">
                    <thead>
                    <tr class="border-b">
                        <th class="p-2">Username</th>
                        <th class="p-2">Email</th>
                        <th class="p-2">Phone Number</th>
                        <th class="p-2">Role</th>
                        <th class="p-2" data-orderable="false"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usr in users %}
                        <tr class="border-b hover:bg-slate-200">
                            <td class="p-2">{{ usr.username }}</td>
                            <td class="p-2">{{ usr.email }}</td>
                            <td class="p-2">{{ usr.profile.phone_number }}</td>
                            <td class="p-2">{{ usr.groups.all.0 }}</td>
                            <td class="flex justify-end gap-2">
                                {# this is a temporary button, we will move it to user profile once user profile is done :) #}
                                <a href="{% url 'accounts:profile' usr.id %}">
                                    <button class="bg-cyan-500 hover:bg-cyan-700 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                     viewBox="0 0 24 24" stroke="currentColor">
                                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                                                </svg>
                                            </span>
                                        <span>Profile</span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
