{% extends "Covigo/base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#user_list_table').DataTable({
                initComplete: function () {
                    this.api().columns(3).every(function () {
                        var column = this;
                        var select = $('<select class="border-2"><option value="">Filter ...</option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    })
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <h1 class="text-5xl p-4">Accounts List</h1>
        <div class="m-4 justify-evenly gap-4">


            <div class="hidden xl:block m-4 p-4 bg-white rounded-lg">
                <table class="w-full table-auto" id="user_list_table">
                    <thead>
                    <tr class="border-b">
                        <th class="p-2 text-left">Username</th>
                        <th class="p-2 text-left">Email</th>
                        <th class="p-2 text-left">Phone number</th>
                        <th class="p-2 text-left">Role</th>
                        <th class="p-2 text-left"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usr in users %}
                        <tr class="border-b hover:bg-slate-200">
                            <td class="p-2">{{ usr.username }}</td>
                            <td class="p-2">{{ usr.email }}</td>
                            <td class="p-2">{{ usr.profile.phone_number }}</td>
                            <td class="p-2">{{ usr.groups.all.0 }}</td>
                            <td colspan="2" class="text-center md:text-left pt-2 pb-16">
                                <a href="{% url 'messaging:compose_message' usr.id %}">
                                <button class="bg-blue-400 border-blue-600 hover:bg-blue-600 text-white font-bold rounded-md px-4 py-2 mx-1">
                                    Send Message
                                </button></a>
                                <button class="bg-blue-400 border-blue-600 hover:bg-blue-600 text-white font-bold rounded-md px-4 py-2 mx-1">
                                    View Profile
                                </button>
{#                                this is a temprory button, we will move it user profile once user profile is done :) #}
                                <a href="{% url 'messaging:list_messages' usr.id %}">
                                    <button class="bg-blue-400 border-blue-600 hover:bg-blue-600 text-white font-bold rounded-md px-4 py-2 mx-1">
                                    View All Messages
                                </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="xl:hidden m-4 p-4 bg-white rounded-lg">
                <table class="w-full table-auto">
                    <h2 class="p-2 text-2xl font-bold">Accounts</h2>
                    <hr class="mb-8">
                    {% for usr in users %}
                        <tbody>
                        <tr class="border-b hover:bg-slate-200">
                            <td class="font-semibold p-2">Username</td>
                            <td class="p-2">{{ usr.username }}</td>
                        </tr>
                        <tr class="border-b hover:bg-slate-200">
                            <td class="font-semibold p-2">Email</td>
                            <td class="p-2">{{ usr.email }}</td>
                        </tr>
                        <tr class="border-b hover:bg-slate-200">
                            <td class="font-semibold p-2">Phone number</td>
                            <td class="p-2">{{ usr.profile.phone_number }}</td>
                        </tr>
                        <tr class="border-b hover:bg-slate-200">
                            <td class="font-semibold p-2">Role</td>
                            <td class="p-2">{{ usr.groups }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center md:text-left pt-2 pb-16">
                                <button class="bg-blue-400 border-blue-600 hover:bg-blue-600 text-white font-bold rounded-md px-4 py-2 mx-1">
                                    Send Message
                                </button>
                                <button class="bg-blue-400 border-blue-600 hover:bg-blue-600 text-white font-bold rounded-md px-4 py-2 mx-1">
                                    View Profile
                                </button>
                                <a href="{% url 'messaging:list_messages' usr.id %}">
                                    <button class="bg-blue-400 border-blue-600 hover:bg-blue-600 text-white font-bold rounded-md px-4 py-2 mx-1">
                                    View All Messages
                                </button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}