{% extends "Covigo/base.html" %}
{% load qr_code %}
{% block content %}
    <div class="container mx-auto my-5 p-5">
        <div class="md:flex no-wrap md:-mx-2 ">
            <!-- Left Side -->
            <div class="w-full md:w-2/12 md:mx-2">
                <!-- Profile Card -->
                <div class="bg-white p-3 border-t-4 border-black">
                    <div class="image object-fill">
                        <!-- QR Code Implementation -->
                        {% qr_from_text "Hello World!" size=12 version=5 border=0 %}
                    </div>
                    <h1 class="text-gray-900 font-bold text-xl  text-cetner pl-5">Jane Doe #ABC123</h1>

                    <ul
                            class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm text-sm">
                        <li class="flex items-center py-3">
                            <span>Covid Status</span>
                            <span class="ml-auto">
                                <span class="bg-green-500 py-1 px-2 rounded text-white text-sm">Confirmed</span>
                            </span>
                        </li>
                        <li class="flex items-center py-3">
                            <span>Isolation Status</span>
                            <span class="ml-auto">
                                <span class="bg-orange-500 py-1 px-2 rounded text-white text-sm">In Isolation</span>
                            </span>
                        </li>
                        <li class="flex items-center py-3">
                            <button class="w-full bg-blue-600 p-2 text-white rounded">Download QR code</button>
                        </li>
                    </ul>
                </div>
                <div class="my-4"></div>
                <div class="bg-white p-3 hover:shadow">
                    <div class="flex items-center space-x-3 font-semibold text-gray-900 text-xl leading-8">
                        <span class="text-green-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                            </svg>
                        </span>
                        <span>Assigned Doctor</span>
                    </div>
                    <div class="grid grid-cols-1">
                        <div class="text-center my-2">

                            <a href="#" class="text-main-color">Dr. John Doe</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-9/12 mx-2 h-64">
                <div class="bg-white p-3 shadow-sm rounded-sm">
                    <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                        <span clas="text-green-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                            </svg>
                        </span>
                        <span class="tracking-wide">About <a class="px-2  text-blue-400 ">Edit Profile</a></span>
                    </div>
                    <div class="text-gray-700">
                        <div class="grid md:grid-cols-2 text-sm">
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">First Name</div>
                                <div class="px-4 py-2">Jane</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Last Name</div>
                                <div class="px-4 py-2">Doe</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Contact No.</div>
                                <div class="px-4 py-2">+11 998001001</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Current Address</div>
                                <div class="px-4 py-2">Lorem ipsum dolor sit amet,
                                </div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Email.</div>
                                <div class="px-4 py-2">
                                    <a class="text-blue-800" href="mailto:jane@example.com">jane@example.com</a>
                                </div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Postal Code</div>
                                <div class="px-4 py-2">
                                    <a class="">ABC123</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="my-4"></div>
                <div class="grid grid-cols-4 gap-2">
                    <div class="bg-white p-3 shadow-sm rounded-sm ">

                        <div class="">
                            <div>
                                <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                                <span clas="text-green-500">
                                    <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
                                    </svg>
                                </span>
                                    <span class="tracking-wide">Latest Status Updates</span>
                                </div>
                                <ul class="list-inside  divide-y">

                                    <li class="py-2">
                                        <div class="text-teal-600">Feb 30, 2022 - 4 minutes ago</div>

                                    </li>
                                    <li class="py-2">
                                        <div class="text-teal-600">Feb 30, 2022 - 4 minutes ago</div>

                                    </li>
                                    <li class="py-2">
                                        <div class="text-teal-600">Feb 30, 2022 - 4 minutes ago</div>

                                    </li>
                                    <li class="py-2">
                                        <div class="text-teal-600">Feb 30, 2022 - 4 minutes ago</div>

                                    </li>
                                    <li class="py-2">
                                        <div class=" "><a href="" class="text-blue-400">View All Status Updates</a></div>

                                    </li>

                                    </li>
                                </ul>

                            </div>

                        </div>

                    </div>
                    <div class="bg-white p-3  shadow-sm rounded-sm col-start-2 col-end-6">

                        <div class="grid grid-cols-1">
                            <div>
                                <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                                <span clas="text-green-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"/>
</svg>
                                </span>
                                    <span class="tracking-wide">Latest Messages</span> <a href="" class="text-blue-400">View All Messages</a>
                                </div>
                                <table class="table-auto w-full text-left">
                                    <tr class="border-b">

                                        <th class="p-2">Sender</th>
                                        <th class="p-2">Subject</th>
                                        <th class="p-2">Last Reply On</th>
                                        <th class="p-2">Actions</th>
                                    </tr>

                                    <tr class="hover:bg-gray-200 border-b">
                                        <td class="p-2">John Doe</td>
                                        <td class="p-2">Question about my Fever</td>
                                        <td class="p-2">02/02/2022 22:22</td>
                                        <td class="p-2">
                                            <a href="{% url 'messaging:view_message' 3 %}">
                                                <button class="bg-blue-600 text-white px-3 py-1 rounded-2xl hover:bg-blue-800 text-sm">
                                                    View Message
                                                </button>
                                            </a>

                                        </td>
                                    </tr>


                                </table>

                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}