{% extends 'Covigo/base.html' %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <h1 class="block text-5xl p-4 font-semibold text-center">
            Create A New Message
        </h1>
        <div class="bg-gray-50 m-4 p-4 rounded">
            <form action="." method="POST" class="text-3xl">
                <div class="flex flex-wrap justify-evenly px-4 m-4 font-semibold">
                    <div class="w-full flex flex-wrap items-center px-4 m-4 font-semibold">
                        <div class="w-full xl:w-1/4">
                            {{ form.recipient.label_tag }}
                        </div>
                        <div class="w-full xl:w-3/4">
                            {{ form.recipient }}
                        </div>
                        <div class="w-full xl:w-1/4">
                            {{ form.title.label_tag }}
                        </div>
                        <div class="w-full xl:w-3/4">
                            {{ form.title }}
                        </div>
                        <div class="w-full xl:w-1/4">
                            {{ form.priority.label_tag }}
                        </div>
                        <div class="w-full xl:w-3/4">
                           {{ form.priority }}
                        </div>
                    </div>
                    <div class="w-full flex flex-wrap items-center px-4 m-4 font-semibold">
                        <div class="w-full xl:w-1/3">
                            {{ form.content.label_tag }}
                        </div>
                        <div class="w-full xl:w-2/3">
                            {{ form.content }}
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap justify-center">
                    <div class="w-full xl:w-auto px-4 m-4 text-center">
                        <button type="submit" value="Send"
                                class="px-4 py-2 rounded border bg-blue-600 border-blue-900 hover:bg-blue-700 hover:border-blue-700 text-center text-white text-3xl font-bold">
                            Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}