{% extends "Covigo/base.html" %}

{% block content %}


    <div class="min-h-full bg-slate-100">
        <h1 class="text-5xl p-4">Messages</h1>
        <div class="flex ">
            <div class="w-full">
                <div class="w-full bg-gray-50 p-4 m-4 rounded-2xl">

                    <form action="">
                        <input name="" id="" class=" bg-neutral-300 py-2 text-black  px-2 rounded-xl" placeholder="Search...">
                         <button class="bg-green-600 text-white px-4 py-1 rounded-xl ">Search</button>
                     <span>filters:</span>
                        <select name="" id="" class=" bg-neutral-300 py-2 text-black  px-2 rounded-xl">
                            <option >Show All Messages</option>
                            <option value="">Show Unread Messages</option>
                            <option value="">Show Read Messages</option>
                        </select>
                        <button class="bg-green-600 text-white px-4 py-1 rounded-xl ">Apply</button>
                        <a href="composeMessage.html"><button class="bg-green-600 text-white px-4 py-1 rounded-xl ">Create A New Message</button></a>
                </form>
                </div>
                 <div class="w-full bg-gray-50 p-4 m-4 rounded-2xl">
                     <table class="table-auto w-full text-left">
                    <tr class="border-b">
                        <th class="p-2">ID</th>
                        <th class="p-2">Sender</th>
                        <th class="p-2">Subject</th>
                        <th class="p-2">Sent On</th>
                        <th class="p-2">Opened On</th>
                        <th class="p-2">Last Reply On</th>
                        <th class="p-2">Actions</th>
                    </tr>

                    <tr class="hover:bg-gray-200 border-b">
                        <td class="p-2">100001</td>
                        <td class="p-2">John Doe</td>
                        <td class="p-2">Question about my Fever</td>
                        <td class="p-2">02/02/2022 22:22</td>
                        <td class="p-2">02/02/2022 22:22</td>
                        <td class="p-2">02/02/2022 22:22</td>
                        <td class="p-2">
                            <button class="bg-blue-600 text-white px-3 py-1 rounded-2xl hover:bg-blue-800 text-sm">View Message</button>
                            <button class="bg-blue-600 text-white px-3 py-1 rounded-2xl hover:bg-blue-800 text-sm">Mark as Unread</button>
                        </td>
                    </tr>

                    <tr class="hover:bg-gray-200 font-bold border-b">
                        <td class="p-2">100001</td>
                        <td class="p-2">John Doe</td>
                        <td class="p-2">Question about my Fever</td>
                        <td class="p-2">02/02/2022 22:22</td>
                        <td class="p-2">02/02/2022 22:22</td>
                        <td class="p-2">02/02/2022 22:22</td>
                        <td class="p-2">
                            <button class="bg-blue-600 text-white px-3 py-1 rounded-2xl hover:bg-blue-800 text-sm">View Message</button>
                            <button class="bg-blue-600 text-white px-3 py-1 rounded-2xl hover:bg-blue-800 text-sm">Mark as Read</button>
                        </td>
                    </tr>
                </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}