{% extends "Covigo/base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <style>
        .dataTables_empty {
            white-space: normal !important;
        }
    </style>
{% endblock %}

{% block script %}

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            let table = $('#message_list_table').DataTable({
                "ajax": "{% url 'messaging:list_messages_table' %}",
                "type": "POST",
                language: {
                    "zeroRecords": "No active messages/conversations at this time"
                },
                responsive: true,
                "draggable ": false,
                stripeClasses: [],
                "orderClasses": false,
                "columns": [
                    {"data": "id"},
                    {"data": "priority"},
                    {"data": "author_fname"},
                    {"data": "author_lname"},
                    {"data": "recipient_fname"},
                    {"data": "recipient_lname"},
                    {"data": "title"},
                    {"data": "date_created"},
                    {"data": "date_updated"},
                    {"data": "seen"},
                    {defaultContent: ""},
                ],
                "columnDefs": [
                    { // id
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    { // priority
                        "targets": [1],
                        "visible": true,
                        "searchable": true,
                        "className": 'dt-body-center',
                        "data": "display",
                        "render": {
                            _: "display",
                            sort: "value",
                        }
                    },
                    { // author_first_name
                        "targets": [2],
                        "visible": true,
                        "searchable": true,
                        "responsivePriority": 2,
                        "render": function (data, type, row) {
                            return `<div class="whitespace-normal">${row.author_fname} ${row.author_lname}</div>`;
                        }
                    },
                    { // author_last_name
                        "targets": [3],
                        "visible": false,
                        "searchable": true
                    },
                    { // recipient_first_name
                        "targets": [4],
                        "visible": true,
                        "searchable": true,
                        "responsivePriority": 2,
                        "render": function (data, type, row) {
                            return `<div class="whitespace-normal">${row.recipient_fname} ${row.recipient_lname}</div>`;
                        }
                    },
                    { // recipient_last_name
                        "targets": [5],
                        "visible": false,
                        "searchable": true
                    },
                    { // title
                        "targets": [6],
                        "visible": true,
                        "searchable": true,
                        "className": 'dt-body-center',
                        "responsivePriority": 1,
                        "render": function (data, type, row) {
                            return `<div class="whitespace-normal">${data}</div>`;
                        }
                    },
                    { // date_created
                        "targets": [7],
                        "visible": true,
                        "searchable": false,
                        "className": 'dt-body-center',
                        "render": function (data, type, row) {
                            return `<div class="whitespace-normal">${data}</div>`;
                        }
                    },
                    { // date_updated
                        "targets": [8],
                        "visible": true,
                        "searchable": false,
                        "className": 'dt-body-center',
                        "render": function (data, type, row) {
                            return `<div class="whitespace-normal">${data}</div>`;
                        }
                    },
                    { // seen
                        "targets": [9],
                        "visible": true,
                        "searchable": true,
                        "render": function (data, type, row) {
                            return row.seen ? "Read" : "Unread";
                        }
                    },
                    { // Action
                        "targets": [10],
                        "visible": true,
                        "searchable": false,
                        "sortable": false,
                        "className": 'dt-body-center',
                        "render": function (data, type, row) {
                            let buttonView =
                                '<a href="{% url 'messaging:view_message' 999999999 %}">'.replace(999999999, row.id) +
                                '<button class="bg-cyan-500 hover:bg-cyan-700 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">' +
                                '<span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">' +
                                '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></span>' +
                                '<span>View Message</span>' +
                                '</button></a>';

                            let buttonMarkUnread =
                                '<a href="{% url 'messaging:toggle_read' 999999999 %}">'.replace(999999999, row.id) +
                                '<button class="bg-blue-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">' +
                                '<span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">' +
                                '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>' +
                                '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg></span>' +
                                '<span>Mark Unread</span>' +
                                '</button></a>';

                            let buttonMarkRead =
                                '<a href="{% url 'messaging:toggle_read' 999999999 %}">'.replace(999999999, row.id) +
                                '<button class="bg-blue-600 hover:bg-blue-800 text-sm font-semibold text-white px-2 py-1 rounded-md flex items-center gap-1">' +
                                '<span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">' +
                                '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"></path></svg></span>' +
                                '<span>Mark Read</span>' +
                                '</button></a>';

                            if (row.seen) {
                                return '<span class="flex justify-end gap-2">' + buttonMarkUnread + buttonView + '</span>';
                            } else {
                                return '<span class="flex justify-end gap-2">' + buttonMarkRead + buttonView + '</span>';
                            }
                        }
                    }
                ],

                "order": [[9, "asc"], [1, "asc"]],

                rowCallback: function(row, data){
                    if(!data.seen) {
                        $(row).addClass("font-semibold");
                    }
                },

                initComplete: function () {
                    this.api().columns(9).every(function () {
                        let column = this;
                        let select = $('<select class="cursor-pointer bg-slate-300 border border-slate-300 py-1 text-sm text-black px-2 rounded-md"><option value="">Show All Messages</option></select>')
                            .appendTo($('#seen-filter'))
                            .on('change', function () {
                                let val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            let status = (d ? "Read" : "Unread");
                            select.append(`<option value="${status}">${status} Messages</option>`);
                        });
                    });

                    this.api().columns(1).every(function () {
                        let column = this;
                        let select = $('<select class="cursor-pointer bg-slate-300 border border-slate-300 py-1 text-sm text-black px-2 rounded-md"><option value="">Show All Messages</option></select>')
                            .appendTo($('#priority-filter'))
                            .on('change', function () {
                                let val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            priority = d.display;
                            select.append(`<option value="${priority}">${priority} Priority</option>`);
                        });
                    })
                }
            });
        });
    </script>
    <script>
        Array.from(document.querySelectorAll(".alert-del")).map(x => x.addEventListener("click", function() {
            x.parentNode.parentElement.parentElement.parentElement.classList.add('hidden')
        }));
    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="flex justify-between bg-slate-700">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Messages</h1>
        </div>

        <div class="bg-white shadow m-8 rounded-xl">
            <div class="w-full flex flex-wrap justify-center md:justify-start items-center gap-2 p-4">
                <div id="seen-filter" class="flex flex-col justify-center items-center md:flex-row">
                    <span class="font-semibold px-2">Filter by Seen:</span>
                </div>
                <div id="priority-filter" class="flex flex-col justify-center items-center md:flex-row">
                    <span class="font-semibold px-2">Filter by Priority:</span>
                </div>
            </div>
        </div>

        {% if messages %}

            <script>
                setTimeout(function() {
                    $('.message').fadeOut('fast');
                    }, 10000); // <-- time in milliseconds
            </script>
        {% endif %}

        {% for message in messages %}
            {% if message.tags == 'success'%}
                <div role="alert" class="message p-5 m-8 rounded-lg border border-green-400 bg-green-300 text-green-900">
                    <div class="divide-y-2 divide-solid divide-green-400">
                        <h2 class="font-bold text-xl flex items-center pb-2">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                                </svg>
                            </span>
                            Success!
                            <div class="text-xl flex align-center w-full justify-end">
                                <strong class="alert-del cursor-pointer">
                                    &times;
                                </strong>
                            </div>
                        </h2>
                        <p class="pt-2">
                            {{ message }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="p-8 pt-0">
            <div class="p-4 bg-white shadow rounded-lg text-center">
                <table class="w-full table-auto display responsive nowrap" style="width:100%" id="message_list_table">
                    <thead>
                        <tr class="border-b text-center">
                            <th class="p-2"></th>
                            <th class="p-2">Priority</th>
                            <th class="p-2">Sender</th>
                            <th class="p-2"></th>
                            <th class="p-2">Recipient</th>
                            <th class="p-2"></th>
                            <th class="p-2">Subject</th>
                            <th class="p-2">Sent On</th>
                            <th class="p-2">Opened On</th>
                            <th class="p-2">Seen</th>
                            <th class="p-2">Action</th>
                        </tr>
                    </thead>
                    <!-- Table entries is handled by the DataTable -->
                </table>
            </div>
        </div>
    </div>
{% endblock %}
