{% extends "Covigo/base.html" %}

{% block content %}


    <div class="min-h-full bg-slate-100">

        <!-- MESSAGE GROUP SUBJECT TITLE -->
        <h1 class="text-5xl p-8">Subject: {{ message_group.title }}</h1>

        {% if recipient_seen == False %}
            <!-- Seen status -->
            <div class="pl-10">
                <p class="text-sm text-gray-600 flex items-center float-left px-2">
                    <svg class="h-4 w-4 text-gray-500 pr-1" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    Recipient has not read the latest message(s)
                </p>
            </div>
        {% endif %}

        {% if recipient_seen == True %}
            <!-- Seen status -->
            <div class="pl-10">
                <p class="text-sm text-gray-600 flex items-center float-left px-2">
                    <svg class="h-4 w-4 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"/>
                    </svg>
                    Recipient has read the latest message(s)
                </p>
            </div>
        {% endif %}

        <!-- Card that contains the messages. These cards will be generated dynamically -->
        <div class="p-8 block">

            {% for message in messages %}
                <!-- CURRENT USER MESSAGES -->
                {% if user.id == message.author_id %}

                    <div class="pb-1">
                        <div class="bg-blue-100 hover:bg-blue-200 shadow w-full bg-gray-50 p-4 m-2 rounded-2xl border-b flex items-center">

                            <!-- message info (name, date, time) -->
                            <div class="w-3/12">
                                <div class="font-bold text-lg mb-2">{{ message.author.first_name }} {{ message.author.last_name }}</div>
                                <!-- Date -->
                                <p class="text-sm text-gray-600 items-center pb-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="pr-1 h-5 w-5 float-left"
                                         viewBox="0 0 20 20"
                                         fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                              clip-rule="evenodd"/>
                                        <title>Date sent</title>
                                    </svg>
                                    {{ message.date_created|date:"SHORT_DATE_FORMAT" }}
                                </p>
                                <!-- Time -->
                                <p class="text-sm text-gray-600 flex items-center pb-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="pr-1 h-5 w-5" viewBox="0 0 20 20"
                                         fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                                              clip-rule="evenodd"/>
                                        <title>Time</title>
                                    </svg>
                                    {{ message.date_created|time:"H:i" }}
                                </p>
                            </div>

                            <!-- message content -->
                            <div class="w-9/12">
                                <p class="text-left">{{ message.content }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- RECEIVER MESSAGES -->
                    <div class="pb-1">
                        <div class="hover:bg-slate-200 shadow w-full bg-gray-50 p-4 m-2 rounded-2xl border-b flex items-center">

                            <!-- message info (name, date, time) -->
                            <div class="w-3/12">
                                <div class="font-bold text-lg mb-2">{{ message.author.first_name }} {{ message.author.last_name }} </div>
                                <!-- Date -->
                                <p class="text-sm text-gray-600 flex items-center pb-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="pr-1 h-5 w-5 float-left"
                                         viewBox="0 0 20 20"
                                         fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                              clip-rule="evenodd"/>
                                        <title>Date sent</title>
                                    </svg>
                                    {{ message.date_created|date:"SHORT_DATE_FORMAT" }}
                                </p>
                                <!-- Time -->
                                <p class="text-sm text-gray-600 flex items-center pb-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="pr-1 h-5 w-5" viewBox="0 0 20 20"
                                         fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                                              clip-rule="evenodd"/>
                                        <title>Time</title>
                                    </svg>
                                    {{ message.date_created|time:"H:i" }}
                                </p>
                            </div>

                            <!-- message content -->
                            <div class="w-9/12">
                                <p class="text-left">{{ message.content }}</p>
                            </div>
                        </div>
                    </div>


                {% endif %}


            {% endfor %}







            <!-- Input text box -->
            <form action="{% url 'messaging:view_message' message_group.id %}" method="post">
                {% csrf_token %}
                <div class="shadow w-full bg-gray-50 p-4 m-2 rounded-2xl border-b flex items-center">

                    <div class="w-full">
                        {{ form.content }}
                    </div>
                    <div class="flex flex-wrap justify-center float-right">
                        <div class="w-full xl:w-auto m-4 text-center ">
                            <button type="submit" value="Submit"
                                    class="px-4 py-2 rounded border bg-blue-600 border-blue-900 hover:bg-blue-700 hover:border-blue-700 text-center text-white text-base font-bold">
                                Reply
                            </button>
                        </div>
                    </div>
                </div>
            </form>


        </div>

    </div>
{% endblock %}