<style>
    .color {
        color: #1e293b;
    }
</style>
{% extends "manager/card-base2.html" %}

{% block card2p1 %}
    <div class="flex flex-wrap gap-2 justify-between items-center">
        <div class="flex items-center gap-2 font-semibold text-gray-900 text-lg">
            <span class="color">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round"
        d="M10 21h7a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v11m0 5l4.879-4.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242z"/>
</svg>
            </span>
            <span class="align-middle text-3xl">Sprint 3</span>
        </div>
    </div>

    <hr class="border-slate-400 mx-1 my-2">

    <div class="flex flex-col justify-center items-center w-full h-full rounded-lg">
        <ul class="w-full list-inside text-center">

            <li class="text-center font-semibold text-2xl pt-1 pb-2">Tasks:</li>
            <br/><br/>
            <li class="text-center py-1 text-xl">Profile & Dashboard</li>
            <br/>
            <li class="text-center py-1 text-xl">Patient Reports</li>
            <br/>
            <li class="text-center py-1 text-xl">Appointments</li>

        </ul>
    </div>
{% endblock %}
{% block card2p2 %}
    <div class="flex flex-wrap gap-2 justify-between items-center">
        <div class="flex items-center gap-2 font-semibold text-gray-900 text-lg">
            <span class="color">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round"
        d="M10 21h7a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v11m0 5l4.879-4.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242z"/>
</svg>
            </span>
            <span class="align-middle text-3xl">Sprint 4</span>
        </div>
    </div>

    <hr class="border-slate-400 mx-1 my-2">

    <div class="flex flex-col justify-center items-center w-full h-full rounded-lg">
        <ul class="w-full list-inside text-center">

            <li class="text-center font-semibold text-2xl pt-1 pb-2">Tasks:</li>
            <br/><br/>
            <li class="text-center py-1 text-xl">Doctor Management & Quarantine Enforcement</li>
            <br/>
            <li class="text-center py-1 text-xl">Contact Tracing & Case Data Management</li>
            <br/>
            <li class="text-center py-1 text-xl">Security & Access Control</li>

        </ul>
    </div>
{% endblock %}