{% extends 'Covigo/base.html' %}

{% block script %}
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script>
        let today = new Date()
        let year = today.getFullYear().toString();
        let month = (today.getMonth()+1).toString().padStart(2, '0');
        let day = today.getDate().toString().padStart(2, '0');
        let minDate = `${year}-${month}-${day}`;

        $('#datepicker').attr('min', minDate).attr('value', minDate);
    </script>
    <script>
        Array.from(document.querySelectorAll(".alert-del")).map(x => x.addEventListener("click", function() {
            x.parentNode.parentElement.parentElement.parentElement.classList.add('hidden')
        }));
    </script>
{% endblock %}

{% block content %}
    <form method="POST" class="min-h-full bg-slate-100 flex flex-col">
        {% csrf_token %}
        <div class="bg-slate-700 border-b">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">
                {% if allow_editing %}
                    Update Assigned Symptoms
                {% else %}
                    Assign Symptoms
                {% endif %}
            </h1>
        </div>

        {% if messages %}
            <script>
                setTimeout(function() {
                    $('.message').fadeOut('fast');
                    }, 10000); // <-- time in milliseconds
            </script>
        {% endif %}

        {% for message in messages %}
            {% if message.tags == 'error'%}
                <div role="alert" class="message p-5 m-8 rounded-lg border border-red-400 bg-red-300 text-red-900">
                    <div class="divide-y-2 divide-solid divide-red-400">
                        <h2 class="font-bold text-xl flex items-center pb-2">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </span>
                            Error!
                            <div class="text-xl flex align-center w-full justify-end">
                                <strong class="alert-del cursor-pointer">
                                    &times;
                                </strong>
                            </div>
                        </h2>
                        <p class="pt-2">
                            {{ message }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="flex flex-col justify-between grow m-8 p-4 min-h-full bg-white shadow rounded-lg">
            <div class="w-full max-w-2xl flex flex-col gap-8 mb-8">
                <div class="w-full">
                    <h2 class="p-2 text-2xl font-bold">
                        {% if allow_editing %}
                            Update Assigned Symptoms for {{ patient_name }}
                        {% else %}
                            Assign Symptoms to {{ patient_name }}</h2>
                        {% endif %}
                    <hr>
                </div>

                {% if not allow_editing %}
                    <div class="w-full px-2">
                        <label for="">Start reporting on: </label>
                        <input type="date" name="starting_date" id="datepicker" required class="w-full mt-1 bg-slate-100 rounded-md border border-slate-400 px-2 py-1" >
                    </div>

                    <div class="w-full px-2">
                        <label for="">Days to report:</label>
                        <input type="number" value="1" min="1" name="interval" class="w-full mt-1 bg-slate-100 rounded-md border border-slate-400 px-2 py-1" required>
                    </div>
                {% endif %}

                <div class="w-full px-2">
                    <label>Symptoms:</label>
                    <div class="w-full mt-1 bg-slate-100 rounded-md border border-slate-400 px-2 py-1">
                        <table class="table-auto w-full">
                            <tbody>
                            {% for sym in symptoms %}
                                {% if sym.is_active %}
                                    <div class="flex gap-2 items-center">
                                        <input type="checkbox" name="symptom" value="{{ sym.id }}"
                                            {% if sym in assigned_symptoms %}
                                                checked
                                            {% endif %}
                                        />
                                        <label class="text-left">{{ sym.name }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="w-full px-2">
                    {% if allow_editing %}
                        <label>Extend Report:</label>   <br>
                        <input type="number" name="extended_days" value="0" min="0" class="w-full mt-1 bg-slate-100 rounded-md border border-slate-400 px-2 py-1" required>
                        <p class="text-sm text-slate-600">Enter the number of days to extend the report.</p>
                    {% else %}
                        <label>Quarantine status:</label>
                        <div class="flex gap-2 items-center w-full mt-1 bg-slate-100 rounded-md border border-slate-400 px-2 py-1">
                            <input type="checkbox" name="should_quarantine"
                                   value="quarantine" title="Recommend the patient to quarantine."
                                    {% if patient_is_quarantining %} checked{% endif %}>
                            <label>Patient should Quarantine</label>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="w-full mt-8 md:mt-0">
                <div class="text-center flex flex-wrap justify-center sm:justify-end gap-2">
                    <a href="{% url "accounts:profile" patient.id %}">
                        <button type="button"
                                class="bg-red-600 hover:bg-red-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </span>
                            <span>Cancel</span>
                        </button>
                    </a>
                    <button type="submit"
                            class="bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1"
                            name="button-action" value="{% if allow_editing %}update{% else %}assign{% endif %}">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"/>
                            </svg>
                        </span>
                        <span>
                            {% if not allow_editing %}
                                Assign
                            {% else %}
                                Update
                            {% endif %}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
