{% extends 'Covigo/base.html' %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <h1 class="text-5xl p-4">Create Symptom</h1>
        <div class="block bg-gray-50 m-4 p-4 rounded">
            <form action="list.html" method="post" class="text-3xl">
                <div class="flex flex-wrap justify-evenly px-4 m-4 font-semibold">
                    <div class="w-full flex px-4 m-4 font-semibold">
                        <div class="w-1/4">
                            <label for="symptom name">
                                Symptom Name:
                            </label>
                        </div>
                        <div class="w-3/4">
                            <input
                                    type="text"
                                    id="symptom name"
                                    name="symptom name"
                                    placeholder="e.g. fever, cough, cold, etc."
                                    required="true"
                                    class="w-full text-2xl px-4 py-2 rounded border"
                                    size="57"/>
                        </div>
                    </div>
                    <div class="w-full flex items-center px-4 m-4 font-semibold">
                        <div class="w-1/4">
                            <label for="symptom description">
                                Symptom Description:
                            </label>
                        </div>
                        <div class="w-3/4">
                           <textarea
                                   id="symptom description"
                                   name="symptom description"
                                   placeholder="e.g. individual may lose sense of smell and/or taste, etc."
                                   required="true"
                                   rows="3"
                                   cols="50"
                                   class="w-full text-2xl px-4 py-2 rounded border align-middle">

                           </textarea>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <div class="px-4 m-4 text-center">
                        <button type="submit" value="Submit" class="px-4 py-2 rounded border bg-blue-600 border-blue-900 hover:bg-blue-700 hover:border-blue-700 text-center text-white text-3xl font-bold">
                            Submit and return
                        </button>
                    </div>
                    <div class="px-4 m-4 text-center">
                        <button type="submit" value="Submit" class="px-4 py-2 rounded border bg-blue-600 border-blue-900 hover:bg-blue-700 hover:border-blue-700 text-center text-white text-3xl font-bold">
                            Submit and duplicate
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}