{% extends 'Covigo/base.html' %}

{% block content %}
    <form method="POST" class="min-h-full bg-slate-100 flex flex-col">
        {% csrf_token %}
        <div class="bg-slate-700 border-b">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Edit Symptom</h1>
        </div>

        <div class="flex flex-col justify-between grow m-8 p-4 min-h-full bg-white shadow rounded-lg">
            <div class="w-full flex flex-col gap-8 mb-8">
                <div class="w-full">
                    <h2 class="p-2 text-2xl font-bold">Symptom Details</h2>
                    <hr>
                    <div class="px-2 absolute text-red-500 text-sm font-semibold">

                        {# this will show any form errors that are unrelated to the symptom name and description form fields (generic request errors for example) #}
                        {{ form.non_field_errors }}
                    </div>
                </div>

                <div class="w-full max-w-2xl px-2">
                    <label>Symptom Name:</label>
                    <div class="mt-1">

                        {# this captures the new "value" of the edited symptom name as the name field of the form when it gets used/submitted #}
                        {{ form.name }}
                    </div>
                    <div class="text-red-500 text-sm font-semibold">
                        <div class="absolute">

                            {# this will show any form errors that are related to the symptom name form field #}
                            {# this has not been implemented yet as it is still a potential design decision to make later on on whether or not we want to check for form errors on solely symptom names by themselves instead of the form as a whole #}
                            {{ form.name.errors }}
                        </div>
                    </div>
                </div>

                <div class="w-full max-w-2xl px-2">
                    <label>Description:</label>
                    <div class="mt-1">

                        {# this captures the new "value" of the edited symptom description as the description field of the form when it gets used/submitted #}
                        {{ form.description }}
                    </div>
                    <div class="text-red-500 text-sm font-semibold">
                        <div class="absolute">

                            {# this will show any form errors that are related to the symptom description form field #}
                            {# this has not been implemented yet as it is still a potential design decision to make later on on whether or not we want to check for form errors on solely symptom descriptions by themselves instead of the form as a whole #}
                            {{ form.description.errors }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full mt-8 md:mt-0">
                <div class="text-center flex flex-wrap justify-center sm:justify-end gap-2">
                    <a href="{% url "symptoms:list_symptoms" %}">
                        <button type="button"
                                class="bg-red-600 hover:bg-red-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </span>
                            <span>Cancel</span>
                        </button>
                    </a>
                    {# TODO: Refactor "Submit and return" name #}
                    <button type="submit" value="Edit and Return" name="Edit and Return"
                            class="bg-blue-600 hover:bg-blue-800 text-md font-semibold text-white px-4 py-2 rounded-md flex items-center gap-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
                            </svg>
                        </span>
                        <span>Edit and Return</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}