{% extends "Covigo/base.html" %}

{% block content %}
    <div class="min-h-full bg-slate-100 flex flex-col">
        <div class="bg-slate-700 border-b">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">External Case Data</h1>
        </div>

        {% block script %}
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script>
                let selected_data_set = "Confirmed";
                let selected_data_type = "Current";
                let current_label = "Confirmed Cases";
                let current_color = "rgb(249, 115, 22)";
                let current_labels = {{ covigo_case_data.confirmed.dates|safe }};
                let current_data = {{ covigo_case_data.confirmed.numbers|safe }};

                $(document).ready(function () {
                    $("#footer").hide();

                    $('.data-set').click(function () {
                        let lastClass = $('.data-set').filter(function(){return this.value==selected_data_set}).attr('class').split(' ').pop();
                        $('.data-set').filter(function(){return this.value==selected_data_set}).removeClass(lastClass);
                        selected_data_set = $(this).val();
                        updateChartData(true);
                    })

                    $('.data-type').click(function () {
                        $('.data-type').filter(function(){return this.value==selected_data_type}).removeClass('bg-blue-600');
                        $(this).addClass('bg-blue-600')
                        selected_data_type = $(this).val();
                        updateChartData();
                    })

                function updateChartData(updateLabel=false) {
                    switch (selected_data_set) {
                        case "Confirmed":
                            current_label = "Confirmed Cases";
                            current_color = "rgb(251, 146, 60)";
                            if (updateLabel)
                                $('.data-set').filter(function(){return this.value==selected_data_set}).addClass('bg-orange-500')
                            if (selected_data_type === "Current") {
                                current_labels = {{ covigo_case_data.confirmed.dates|safe }};
                                current_data = {{ covigo_case_data.confirmed.numbers|safe }};
                            } else {
                                current_labels = {{ covigo_case_data.daily_confirmed.dates|safe }};
                                current_data = {{ covigo_case_data.daily_confirmed.numbers|safe }};
                            }
                            break;

                        case "Positive":
                            current_label = "Positive Cases";
                            current_color = "rgb(220, 38, 38)";
                            if (updateLabel)
                                $('.data-set').filter(function(){return this.value==selected_data_set}).addClass('bg-red-600')
                            if (selected_data_type === "Current") {
                                current_labels = {{ covigo_case_data.current_positives.dates|safe }};
                                current_data = {{ covigo_case_data.current_positives.numbers|safe }};
                            } else {
                                current_labels = {{ covigo_case_data.daily_positives.dates|safe }};
                                current_data = {{ covigo_case_data.daily_positives.numbers|safe }};
                            }
                            break;

                        case "Recovered":
                            current_label = "Recovered Cases";
                            current_color = "rgb(34, 197, 94)";
                            if (updateLabel)
                                $('.data-set').filter(function(){return this.value==selected_data_set}).addClass('bg-green-600')
                            if (selected_data_type === "Current") {
                                current_labels = {{ covigo_case_data.recoveries.dates|safe }};
                                current_data = {{ covigo_case_data.recoveries.numbers|safe }};
                            } else {
                                current_labels = {{ covigo_case_data.daily_recoveries.dates|safe }};
                                current_data = {{ covigo_case_data.daily_recoveries.numbers|safe }};
                            }
                            break;

                        case "Negative":
                            current_label = "Negative Cases";
                            current_color = "rgb(250, 204, 21)";
                            if (updateLabel)
                                $('.data-set').filter(function(){return this.value==selected_data_set}).addClass('bg-amber-400')
                            if (selected_data_type === "Current") {
                                current_labels = {{ covigo_case_data.unconfirmed_negative.dates|safe }};
                                current_data = {{ covigo_case_data.unconfirmed_negative.numbers|safe }};
                            } else {
                                current_labels = {{ covigo_case_data.daily_unconfirmed_negative.dates|safe }};
                                current_data = {{ covigo_case_data.daily_unconfirmed_negative.numbers|safe }};
                            }
                            break;

                        case "Probable":
                            current_label = "Probable Cases";
                            current_color = "rgb(59, 130, 246)";
                            if (updateLabel)
                                $('.data-set').filter(function(){return this.value==selected_data_set}).addClass('bg-blue-600')
                            if (selected_data_type === "Current") {
                                current_labels = {{ covigo_case_data.unconfirmed_untested.dates|safe }};
                                current_data = {{ covigo_case_data.unconfirmed_untested.numbers|safe }};
                            } else {
                                current_labels = {{ covigo_case_data.daily_unconfirmed_untested.dates|safe }};
                                current_data = {{ covigo_case_data.daily_unconfirmed_untested.numbers|safe }};
                            }
                            break;
                        }

                        chart.data.labels = current_labels;
                        chart.data.datasets[0].label = current_label;
                        chart.data.datasets[0].backgroundColor = current_color;
                        chart.data.datasets[0].borderColor = current_color;
                        chart.data.datasets[0].data = current_data;
                        chart.update();
                    }
                });

                const chart_data = {
                    labels: current_labels,
                    datasets: [{
                        label: current_label,
                        backgroundColor: current_color,
                        borderColor: current_color,
                        data: current_data,
                    }]
                };

                const chart_config = {
                    type: 'line',
                    data: chart_data,
                    options: {
                        plugins: {
                            legend: {
                                display: false
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                    }
                };
            </script>
        {% endblock %}

        <div class="flex flex-col justify-between grow gap-8 m-8">
            <div class="bg-white shadow rounded-xl">
                <div class="w-full flex flex-wrap gap-2 justify-between items-center p-4">
                    <div class="flex text-sm md:text-base">
                        <button class="data-set bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none border-r border-white bg-orange-500" value="Confirmed">
                            Total Confirmed
                        </button>
                        <button class="data-set bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" value="Positive">
                            Currently Positive
                        </button>
                        <button class="data-set bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" value="Recovered">
                            Currently Recovered
                        </button>
                        <button class="data-set bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" value="Negative">
                            Negative Cases
                        </button>
                        <button class="data-set bg-gray-600 text-white px-2 py-1 rounded-md rounded-l-none" value="Probable">
                            Probable Cases
                        </button>
                    </div>
                    <div class="flex text-sm md:text-base">
                        <button class="data-type bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none border-r border-white bg-blue-600" value="Current">
                            Current
                        </button>
                        <button class="data-type bg-gray-600 text-white px-2 py-1 rounded-md rounded-l-none" value="Daily">
                            Daily Change
                        </button>
                    </div>
                </div>
            </div>

            <div id="chartContainer" class="flex grow p-8 bg-white shadow rounded-lg">
                <div class="grow relative">
                    <canvas id="chart"></canvas>
                </div>
            </div>

            <script>
                let chart = new Chart(
                    document.getElementById('chart'),
                    chart_config
                );

                $(function(){
                    resizeCanvas();
                });

                let doit;
                let lastWidth = $(window).width();
                let lastHeight = $(window).height();

                $(window).on('resize', function(){
                    let currentWidth = $(window).width();
                    let currentHeight = $(window).height();

                    if (lastWidth > currentWidth || lastHeight > currentHeight) {
                        clearTimeout(doit);
                        doit = setTimeout(resizeCanvas, 100);
                    }

                    lastWidth = currentWidth;
                    lastHeight = currentHeight;
                });

                function resizeCanvas()
                {
                    let canvas = $('#chart');
                    canvas.css("width", $(window).width()/9999);
                    canvas.css("height", $(window).height()/9999);
                    console.log('hi');
                }
            </script>
        </div>
    </div>
{% endblock %}