{% extends "Covigo/base.html" %}

{% block styles %}
    <style>
        .loader {
            -webkit-animation: spinner 1.5s linear infinite;
            animation: spinner 1.5s linear infinite;
        }

        @-webkit-keyframes spinner {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spinner {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100 flex flex-col">
        <div class="bg-slate-700 border-b">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Quebec Case Data</h1>
        </div>

        {% block script %}
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% endblock %}

        <div class="flex flex-col justify-between grow gap-8 m-8">
            <div class="bg-white shadow rounded-xl">
                <div class="w-full flex flex-wrap gap-2 justify-between items-center p-4">
                    <div class="flex text-sm md:text-base">
                        <button class="data-set bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none border-r border-white bg-orange-500" id="ds-Confirmed" value="Confirmed">
                            Total Confirmed
                        </button>
                        <button class="data-set bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" id="ds-Positive" value="Positive">
                            Currently Positive
                        </button>
                        <button class="data-set bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" id="ds-Recovered" value="Recovered">
                            Currently Recovered
                        </button>
                        <button class="data-set bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" id="ds-Deaths" value="Deaths">
                            Deaths
                        </button>
                        <button class="data-set bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none rounded-l-none border-r border-white" id="ds-Administered-Vaccines" value="Administered-Vaccines">
                            Administered Vaccines
                        </button>
                        <button class="data-set bg-gray-600 text-white px-2 py-1 rounded-md rounded-l-none" id="ds-Fully-Vaccinated" value="Fully-Vaccinated">
                            Fully Vaccinated
                        </button>
                    </div>
                    <div class="flex text-sm md:text-base">
                        <button class="data-type bg-gray-600 text-white px-2 py-1 rounded-md rounded-r-none border-r border-white bg-blue-600" id="dt-Current" value="Current">
                            Current
                        </button>
                        <button class="data-type bg-gray-600 text-white px-2 py-1 rounded-md rounded-l-none" id="dt-Daily" value="Daily">
                            Daily Change
                        </button>
                    </div>
                </div>
            </div>

            <div id="chartContainer" class="flex grow p-8 bg-white shadow rounded-lg">
                <div class="grow relative">
                    <canvas id="chart"></canvas>
                    <div id="spinner" class="flex w-full h-full items-center justify-center">
                        <span class="border-slate-200 border-t-blue-400 loader ease-linear rounded-full border-8 border-t-8 h-64 w-64"></span>
                    </div>
                </div>
            </div>

            <script>
                async function getData() {
                    let full_qc_data;

                    await $.getJSON("https://api.opencovid.ca/summary?loc=QC&after=01-01-2020", function(data) {
                        full_qc_data = data;
                    });

                    return full_qc_data.summary;
                }


                async function setUp() {
                    let dataSet = $('.data-set');
                    let dataType = $('.data-type');
                    let spinner = $('#spinner');
                    let canvas = $('#chart');

                    canvas.hide();


                    const full_qc_data = await getData();

                    console.log(full_qc_data);

                    let dates = [];
                    let daily_cases = [];
                    let cases = [];
                    let daily_positive = [];
                    let positive = [];
                    let daily_recoveries = [];
                    let recoveries = [];
                    let daily_deaths = [];
                    let deaths = [];
                    let daily_administered_vaccines = [];
                    let administered_vaccines = [];
                    let daily_fully_vaccinated = [];
                    let fully_vaccinated = [];

                    for (i of full_qc_data) {
                        dates.push(i.date)
                        daily_cases.push(i.cases)
                        cases.push(i.cumulative_cases)
                        daily_positive.push(i.active_cases_change)
                        positive.push(i.active_cases)
                        daily_recoveries.push(i.recovered)
                        recoveries.push(i.cumulative_recovered)
                        daily_deaths.push(i.deaths)
                        deaths.push(i.cumulative_deaths)
                        daily_administered_vaccines.push(i.avaccine)
                        administered_vaccines.push(i.cumulative_avaccine)
                        daily_fully_vaccinated.push(i.cvaccine)
                        fully_vaccinated.push(i.cumulative_cvaccine)
                    }

                    let selected_data_set = "Confirmed";
                    let selected_data_type = "Current";
                    let current_label = "Confirmed Cases";
                    let current_color = "rgb(249, 115, 22)";
                    let current_labels = dates;
                    let current_data = cases;

                    $(document).ready(function () {
                        $("#footer").hide();

                        dataSet.click(function () {
                            let selectedDataSetElement = $('#ds-' + selected_data_set);
                            let lastClass = selectedDataSetElement.attr('class').split(' ').pop();
                            selectedDataSetElement.removeClass(lastClass);
                            selected_data_set = $(this).val();
                            updateChartData(true);
                        })

                        dataType.click(function () {
                            $('#dt-' + selected_data_type).removeClass('bg-blue-600');
                            $(this).addClass('bg-blue-600')
                            selected_data_type = $(this).val();
                            updateChartData();
                        })

                        function updateChartData(updateLabel = false) {
                            switch (selected_data_set) {
                                case "Confirmed":
                                    current_label = "Confirmed Cases";
                                    current_color = "rgb(251, 146, 60)";
                                    if (updateLabel)
                                        $('#ds-' + selected_data_set).addClass('bg-orange-500')
                                    if (selected_data_type === "Current") {
                                        current_data = cases;
                                    } else {
                                        current_data = daily_cases;
                                    }
                                    break;

                                case "Positive":
                                    current_label = "Positive Cases";
                                    current_color = "rgb(220, 38, 38)";
                                    if (updateLabel)
                                        $('#ds-' + selected_data_set).addClass('bg-red-600')
                                    if (selected_data_type === "Current") {
                                        current_data = positive;
                                    } else {
                                        current_data = daily_positive;
                                    }
                                    break;

                                case "Recovered":
                                    current_label = "Recovered Cases";
                                    current_color = "rgb(34, 197, 94)";
                                    if (updateLabel)
                                        $('#ds-' + selected_data_set).addClass('bg-green-600')
                                    if (selected_data_type === "Current") {
                                        current_data = recoveries;
                                    } else {
                                        current_data = daily_recoveries;
                                    }
                                    break;

                                case "Deaths":
                                    current_label = "Deaths";
                                    current_color = "rgb(250, 204, 21)";
                                    if (updateLabel)
                                        $('#ds-' + selected_data_set).addClass('bg-amber-400')
                                    if (selected_data_type === "Current") {
                                        current_data = deaths;
                                    } else {
                                        current_data = daily_deaths;
                                    }
                                    break;

                                case "Administered-Vaccines":
                                    current_label = "Administered-Vaccines";
                                    current_color = "rgb(34, 211, 238)";
                                    if (updateLabel)
                                        $('#ds-' + selected_data_set).addClass('bg-cyan-500')
                                    if (selected_data_type === "Current") {
                                        current_data = administered_vaccines;
                                    } else {
                                        current_data = daily_administered_vaccines;
                                    }
                                    break;

                                case "Fully-Vaccinated":
                                    current_label = "Fully-Vaccinated";
                                    current_color = "rgb(59, 130, 246)";
                                    if (updateLabel)
                                        $('#ds-' + selected_data_set).addClass('bg-blue-600')
                                    if (selected_data_type === "Current") {
                                        current_data = fully_vaccinated;
                                    } else {
                                        current_data = daily_fully_vaccinated;
                                    }
                                    break;
                            }
                            chart.data.datasets[0].label = current_label;
                            chart.data.datasets[0].backgroundColor = current_color;
                            chart.data.datasets[0].borderColor = current_color;
                            chart.data.datasets[0].data = current_data;
                            chart.update();
                        }
                    });

                    const chart_data = {
                        labels: current_labels,
                        datasets: [{
                            label: current_label,
                            backgroundColor: current_color,
                            borderColor: current_color,
                            data: current_data,
                        }]
                    };

                    const chart_config = {
                        type: 'line',
                        data: chart_data,
                        options: {
                            plugins: {
                                legend: {
                                    display: false
                                }
                            },
                            responsive: true,
                            maintainAspectRatio: false,
                        }
                    };

                    canvas.show();
                    spinner.hide();

                    let chart = new Chart(
                        document.getElementById('chart'),
                        chart_config
                    );

                    $(function () {
                        resizeCanvas();
                    });

                    let doit;
                    let lastWidth = $(window).width();
                    let lastHeight = $(window).height();

                    $(window).on('resize', function () {
                        let currentWidth = $(window).width();
                        let currentHeight = $(window).height();

                        if (lastWidth > currentWidth || lastHeight > currentHeight) {
                            clearTimeout(doit);
                            doit = setTimeout(resizeCanvas, 100);
                        }

                        lastWidth = currentWidth;
                        lastHeight = currentHeight;
                    });

                    function resizeCanvas() {
                        canvas.css("width", $(window).width() / 9999);
                        canvas.css("height", $(window).height() / 9999);
                    }
                }
                setUp();
            </script>
        </div>
    </div>
{% endblock %}