{% extends "Covigo/base.html" %}

{% block script %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        jQuery(document).on('click', '.report-modal-link', function (e) {
            let row = jQuery(this).closest('tr');
            let date_updated = row.attr('data-date-updated');
            let user_id = row.attr('data-user-id');

            let url = "{% url 'status:patient_report_modal' 999999999 'date_updated' %}";
            url = url.replace(999999999, user_id);
            url = url.replace('date_updated', date_updated);

            e.preventDefault();
            this.blur();
            jQuery.ajax({
                method: 'POST',
                url: url,
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                },
                dataType: 'html',
                success: function (html) {
                    $('#modal-div').html(html).modal('show');
                }
            });
        });
        const endOfTheDay = new Date();
        const now = new Date();
        endOfTheDay.setHours(23, 59, 59, 999)
        const eventTime = endOfTheDay.getTime();
        const currentTime = now.getTime();
        const diffTime = eventTime - currentTime;
        let duration = moment.duration(diffTime);
        const interval = 1000;
        const countdown = document.querySelector('#countdown')

        setInterval(() => {
            duration = moment.duration(duration - interval);
            if (duration === 1) {
                location.reload()
            }
            countdown.innerText = duration.hours() + ":" + duration.minutes() + ":" + duration.seconds();
        }, interval);
        countdown.innerText = duration.hours() + ":" + duration.minutes() + ":" + duration.seconds();
    </script>
{% endblock %}

{% block content %}
    <div class="min-h-full bg-slate-100">
        <div class="bg-slate-700 border-b">
            <h1 class="text-2xl text-white font-semibold px-8 py-4">Dashboard</h1>
        </div>

        <div class="flex flex-wrap justify-center md:justify-start gap-4 p-8">
            {% include './cards/messages.html' %}
            {% include './cards/upcoming_appointments.html' %}

            {% if not user.is_staff %}
                {% include './cards/status_reminder.html' %}
                {% include './cards/quarantine_status.html' %}
                {% if perms.accounts.dashboard_doctor %}
                    {% include './cards/my_doctor.html' %}
                {% endif %}

            {% else %}
                {% if perms.accounts.is_doctor and not user.is_superuser %}
                    {% include './cards/status_updates.html' %}
                {% endif %}
                {% if perms.accounts.is_doctor and not user.is_superuser %}
                    {% include './cards/my_patients.html' %}
                {% endif %}
                {% if perms.accounts.dashboard_covigo_data %}
                    {% include './cards/covigo_data.html' %}
                {% endif %}
                {% if perms.accounts.dashboard_external_data %}
                    {% include './cards/external_data.html' %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}