{% extends "Covigo/layout/guest.html" %}
{% block content %}
    <div class="min-h-full flex flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Register Account</h2>
                <div class="mt-2 text-center text-sm text-gray-600">
                    <p>
                        Your account was successfully registered! You may now log in.
                    </p>
                </div>
            </div>
            <div>
                <a href="{% url 'index' %}">
                    <button type="submit" value="login"
                            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600">
                        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                            <svg class="h-5 w-5 text-green-400 group-hover:text-green-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        Go to Login
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}