<div class="min-h-full flex flex-col items-center py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h2 class="text-center text-3xl font-extrabold text-gray-900">Register Account</h2>

            <div class="mt-6 flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
            </div>
            <p class="text-center text-md font-semibold text-amber-400">
                This link is expired!
            </p>
        </div>

        <div class="mt-8 space-y-6" action="#" method="POST">
            <p class="mt-2 text-center text-sm text-gray-600">
                If you have already completed registration, simply
                <a class="text-blue-400 hover:text-blue-600" href="{% url 'index' %}">log in</a>
                and enter your credentials to access your Covigo account.
            </p>

            <p class="mt-2 text-center text-sm text-gray-600">
                If you were trying to register and got interrupted, you may use the
                <a class="text-blue-400 hover:text-blue-600" href="{% url 'accounts:forgot_password' %}">Forgot Password</a>
                feature to regain your credentials.
                You can then finish registering by logging in, accessing your profile, and editing your account details there.
            </p>

            <p class="mt-2 text-center text-sm text-gray-600">
                If that is the case, you will have been assigned a default username.
                If you would like to have it changed, please contact a system administrator.
            </p>

            <div>
                <a href="{% url 'index' %}">
                    <button type="submit" value="login"
                            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600">
                        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                            <svg class="h-5 w-5 text-green-400 group-hover:text-green-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        Go to Login
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>