{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Covigo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'Covigo/css/dist/styles.css' %}">
</head>

<body class="flex flex-col gap-0 min-h-screen bg-gray-50 font-sans leading-normal tracking-normal">
<header id="header" class="flex-none">
    {% include "Covigo/header.html" %}
</header>

<div class="md:flex gap-0 flex-auto">
    <div id="sidebar" class="flex-none">
        {% include "Covigo/sidebar.html" %}
    </div>
    <div id="content" class="flex-auto">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
</div>

<footer id="footer" class="flex-none">
    {% include "Covigo/footer.html" %}
</footer>

{% block script %}
    {{ script }}
{%  endblock %}
</body>
</html>
