{% block sidebar %}
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <div class="md:flex flex-col md:flex-row md:min-h-full w-full">
        <div @click.away="open = false"
             class="flex flex-col w-full md:w-64 bg-slate-800 text-white flex-shrink-0"
             x-data="{ open: false }">
            <div class="flex-shrink-0 px-4 md:pt-4 flex flex-row items-center justify-between">
                <div class="flex-grow md:block md:overflow-y-auto">
                    <a href="{% url 'dashboard:index' %}"
                       class="text-xl font-semibold block px-4 py-4 md:py-2 text-sm font-semibold text-slate-100 bg-transparent rounded-lg md:hover:text-slate-800 md:focus:text-slate-800 md:hover:bg-white md:focus:bg-white focus:outline-none focus:shadow-outline">
                        Dashboard
                    </a>
                </div>
                <button class="rounded-lg px-4 md:hidden rounded-lg focus:outline-none focus:shadow-outline"
                        @click="open = !open">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                        <path x-show="!open" fill-rule="evenodd"
                              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                              clip-rule="evenodd"></path>
                        <path x-show="open" fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <nav :class="{'block': open, 'hidden': !open}" class="flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">
                 {% if perms.symptoms.view_patientsymptom %}
                    <a href="{% url 'status:patient-reports' %}"
                        class="block px-4 py-2 mt-2 text-sm font-semibold text-slate-100 bg-transparent rounded-lg hover:text-slate-800 focus:text-slate-800 hover:bg-white focus:bg-white focus:outline-none focus:shadow-outline" href="#">
                        Patient Reports
                    </a>
                {% else %}
                    <a href="{% url 'status:index' %}"
                       class="block px-4 py-2 md:mt-2 text-sm font-semibold text-slate-100 bg-transparent rounded-lg hover:text-slate-800 focus:text-slate-800 hover:bg-white focus:bg-white focus:outline-none focus:shadow-outline" href="#">
                        Update Health Status
                    </a>
                {% endif %}
                <a href="{% url 'appointments:index' %}"
                    class="block px-4 py-2 mt-2 text-sm font-semibold text-slate-100 bg-transparent rounded-lg hover:text-slate-800 focus:text-slate-800 hover:bg-white focus:bg-white focus:outline-none focus:shadow-outline" href="#">
                    Appointments
                </a>
                <a href="{% url 'messaging:index' %}"
                   class="block px-4 py-2 mt-2 text-sm font-semibold text-slate-100 bg-transparent rounded-lg hover:text-slate-800 focus:text-slate-800 hover:bg-white focus:bg-white focus:outline-none focus:shadow-outline" href="#">
                    Messaging
                </a>
                <a href="{% url 'accounts:index' %}"
                    class="block px-4 py-2 mt-2 text-sm font-semibold text-slate-100 bg-transparent rounded-lg hover:text-slate-800 focus:text-slate-800 hover:bg-white focus:bg-white focus:outline-none focus:shadow-outline" href="#">
                    Accounts
                </a>
                <a href="{% url 'manager:index' %}"
                   class="block px-4 py-2 mt-2 text-sm font-semibold text-slate-100 bg-transparent rounded-lg hover:text-slate-800 focus:text-slate-800 hover:bg-white focus:bg-white focus:outline-none focus:shadow-outline" href="#">
                    Management
                </a>
            </nav>
        </div>
    </div>
{% endblock %}
